CRM_EAI_code_deploy/code/CRM61PricePublish/CSPM_PropagatePriceUpdatesToCS/CSPM_PropagatePriceUpdatesToCS.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/CS/PM/CSPM_PropagatePriceUpdatesToCS"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="CSPM_PropagatePriceUpdatesToCSProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="CSPM_PropagatePriceUpdatesToCSProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>