CRM_EAI_code_deploy/code/EDTK/EDTKDAD_DequeuedraftQuote/EDTKDAD_DequeuedraftQuote.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/EDTKDAD_DequeuedraftQuote"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="EDTKDAD_DequeuedraftQuoteProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="EDTKDAD_DequeuedraftQuoteProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>