CRM_EAI_code_deploy/code/CRM61OM/ATHCSOM_UserOrderFulfilment/ATHCSOM_UserOrderFulfilment.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/CS/UOM/ATHCSOM_UserOrderFulfilment"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="ATHCSOM_UserOrderFulfilmentProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="ATHCSOM_UserOrderFulfilmentProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>