CRM_EAI_code_deploy/code/CRM61TF/TOM_ValidateQuoteStatus/TOM_ValidateQuoteStatus.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/01/25/GCAP/EAI/TOM/TF/TOM_ValidateQuoteStatus"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="TOM_ValidateQuoteStatusProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="TOM_ValidateQuoteStatusProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>