CRM_EAI_code_deploy/code/ESO/CCRMQM_QuoteStatusDispatcher/CCRMQM_QuoteStatusDispatcher.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/CCRMQM_QuoteStatusDispatcher"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="CCRMQM_QuoteStatusDispatcherProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="CCRMQM_QuoteStatusDispatcherProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>