CRM_EAI_code_deploy/code/CRM61QuoteManagement/CCRMQM_SubmitQuoteInRs/CCRMTF_QuoteRequestValidator.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.reuters.com/ns/2007/01/25/GCAP/EAI/CCRM/TF" xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="CCRMTF_QuoteRequestValidatorProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="CCRMTF_QuoteRequestValidatorProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>
