CRM_EAI_code_deploy/code/CRM61OM/CCRMTF_PropagateOrderStatus/CCRMTF_PropagateOrderStatus.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/01/25/GCAP/CCRM/OM/CCRMTF_PropagateOrderStatus"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="CCRMTF_PropagateOrderStatusProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="CCRMTF_PropagateOrderStatusProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>