CRM_EAI_code_deploy/code/CRM61AccountPub/CPFGAM_Invoker/CPFGAM_Invoker.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/CPFG/AM/CPFGAM_Invoker"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="CPFGAM_InvokerProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="CPFGAM_InvokerProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>