CRM_EAI_code_deploy/code/CRM61OM/ATHUOM_UserOrderRequestValidator/ATHUOM_UserOrderRequestValidator.wsdl

<definitions
     name="ATHUOM_UserOrderRequestValidator"
     targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/ATH/UOM/ATHUOM_UserOrderRequestValidator"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:ns1="http://xml.netbeans.org/schema/BillingNotifyMessage"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:ns3="http://schemas.oracle.com/bpel/extension"
     xmlns:ns2="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/ATH/UOM/UserOrderManagement"
     xmlns:client="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/ATH/UOM/ATHUOM_UserOrderRequestValidator"
    >
    <import namespace="http://schemas.oracle.com/bpel/extension" location="oramds:/soa/shared/bpel/RuntimeFault.wsdl"/>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://xml.netbeans.org/schema/BillingNotifyMessage"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:client="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/ATH/UOM/ATHUOM_UserOrderRequestValidator"
             xmlns:ns2="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/ATH/UOM/UserOrderManagement"
             xmlns:ns3="http://schemas.oracle.com/bpel/extension">
            <import namespace="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/ATH/UOM/ATHUOM_UserOrderRequestValidator"
                 schemaLocation="ATHUOM_UserOrderRequestValidator.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://xml.netbeans.org/schema/BillingNotifyMessage"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:client="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/ATH/UOM/ATHUOM_UserOrderRequestValidator"
             xmlns:ns2="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/ATH/UOM/UserOrderManagement"
             xmlns:ns3="http://schemas.oracle.com/bpel/extension">
            <xsd:import namespace="http://xml.netbeans.org/schema/BillingNotifyMessage" schemaLocation="EAI.MSG.ATH.UOM.274_UserOrderRequest.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://xml.netbeans.org/schema/BillingNotifyMessage"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:ns2="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/ATH/UOM/UserOrderManagement"
             xmlns:client="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/ATH/UOM/ATHUOM_UserOrderRequestValidator"
             xmlns:ns3="http://schemas.oracle.com/bpel/extension">
            <xsd:import namespace="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/ATH/UOM/UserOrderManagement"
                 schemaLocation="EAI.MSG.ATH.UOM.277_UserOrderRequest.xsd"/>
        </xsd:schema>
    </types>
    <message name="ATHUOM_UserOrderRequestValidatorRequestMessage">
        <part name="payload" element="ns1:billingInfoRequest"/>
    </message>
    <message name="ATHUOM_UserOrderRequestValidatorResponseMessage">
        <part name="payload" element="ns1:billingInfoResponse"/>
    </message>
    <message name="EAIOM_UserOrderRequestValidatorRequestMessage">
        <part name="UserOrderRequest" element="ns2:UserOrderRequest"/>
    </message>
    <portType name="ATHUOM_UserOrderRequestValidator">
        <operation name="validateUserOrder">
            <input message="client:ATHUOM_UserOrderRequestValidatorRequestMessage"/>
            <output message="client:ATHUOM_UserOrderRequestValidatorResponseMessage"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="ATHUOM_UserOrderRequestValidator">
        <plnk:role name="ATHUOM_UserOrderRequestValidatorProvider">
            <plnk:portType name="client:ATHUOM_UserOrderRequestValidator"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
