CRM_EAI_code_deploy/code/CRM61OM/ATHUOM_UserOrderRequestValidator/ATHUOM_UserOrderRequestValidator.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/ATH/UOM/ATHUOM_UserOrderRequestValidator"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="ATHUOM_UserOrderRequestValidatorProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="ATHUOM_UserOrderRequestValidatorProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>