CRM_EAI_code_deploy/code/CRM61OM/TOMOM_UpdateOrderRequestValidatorStub/TOMOM_UpdateOrderRequestValidatorStub.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/NS/2007/01/25/GCAP/EAI/TOM/OM/TOMOM_UpdateOrderRequestValidatorStub"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="TOMOM_UpdateOrderRequestValidatorStubProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="TOMOM_UpdateOrderRequestValidatorStubProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>