CRM_EAI_code_deploy/code/CRM61OM/ATHUOM_SubmitUserOrderRequest/EAI.MSG.ATH.UOM.274_UserOrderRequest.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!--********************************************************************************
	* Module:      EAI.MSG.ATH.UOM.274_UserOrderRequest.xsd
	* Type:        XSD Schema
	* Description: The Athena schema used for Athen Order Integration.
	*
	* Change History
	* Version     Date      Author             Description Of Change
	*
	* 1.0         12/06/09  Surya			Initial version
	* 1.1	      17/06/09  Sreeja		   Added a new complex type AKR.
	* 1.2         19/06/09  Sreeja		   Added new elements lastName & FirstName
	* 1.3         04/08/09  Sreeja             Added the element productCode in serviceResponseInfo
	* 1.4         12/02/10  Sreeja             Added the element anonymous & phone in userInfo
	 * 1.5         22/09/11  Ramanjana          Added the element jobFunction in userInfo
**********************************************************************************-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xml.netbeans.org/schema/BillingNotifyMessage" xmlns:ns="http://xml.netbeans.org/schema/BillingNotifyMessage" targetNamespace="http://xml.netbeans.org/schema/BillingNotifyMessage" elementFormDefault="qualified" version="1.0">
   <xsd:annotation>
      <xsd:appinfo>
         <metadata>
            <Creator>ThomsonReuters MIS Group</Creator>
            <Author Href="mailto:alex.berenshtein@thomson.com">Alex Berenshtein</Author>
            <Contributor></Contributor>
            <Created>04-15-2009</Created>
            <Modified>02-11-2010</Modified>
            <Description>Schema for Athena-CS Interface</Description>
            <Format Scheme="http://www.iana.org/assignments/media-types/">text/xml</Format>
            <Language codeListID="ISO639-2">eng</Language>
            <ConformsTo>http://www.w3.org/2001/XMLSchema</ConformsTo>
            <Requires></Requires>
            <Copyright></Copyright>
            <Status>Draft</Status>
            <StatusDescription>Awaiting approval</StatusDescription>
            <Version>1.0</Version>
            <Project>Reuter+Athena-CoreSuite Integration</Project>
            <Title>BillingNotifyRequest</Title>
         </metadata>
      </xsd:appinfo>
   </xsd:annotation>
   <xsd:complexType name="messageHeader">
      <xsd:sequence>
         <xsd:element name="transactionId" type="xsd:integer"></xsd:element>
         <xsd:element name="requestSystem" type="xsd:string"></xsd:element>
         <xsd:element name="requestDate" type="xsd:dateTime"></xsd:element>
         <xsd:element name="subscriber" type="tns:subscriberInfo" nillable="false"></xsd:element>
         <xsd:element name="referenceSystem" type="tns:referenceSystemInfo" nillable="true" minOccurs="0"></xsd:element>
         <xsd:element name="actionCode" type="tns:actionCodeType"></xsd:element>
         <xsd:element name="requestorAdmin">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="adminName" nillable="false">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                           <xsd:maxLength value="30"></xsd:maxLength>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="adminEmail" nillable="true">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                           <xsd:maxLength value="40"></xsd:maxLength>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="requestBody">
      <xsd:sequence>
         <xsd:element name="transactionId" type="xsd:int" nillable="false"></xsd:element>
         <xsd:element name="subId" nillable="false">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="10"></xsd:maxLength>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="akr" type="tns:arkType" nillable="true" minOccurs="0"></xsd:element>
         <xsd:element name="user" type="tns:userInfo" nillable="true" minOccurs="0"></xsd:element>
         <xsd:element name="service" type="tns:serviceInfo" maxOccurs="unbounded" nillable="true" minOccurs="0"></xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="hsfType">
      <xsd:annotation>
         <xsd:documentation>Hard Stop Flag Enumeration: E - Exchange, D - Delete, M - Move</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="D"></xsd:enumeration>
         <xsd:enumeration value="E"></xsd:enumeration>
         <xsd:enumeration value="M"></xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="actionCodeType">
      <xsd:annotation>
         <xsd:documentation>Action Code describe possible Action that supported by EAI/CS and current
Athena Interface
            </xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="CREATE">
            <xsd:annotation>
               <xsd:documentation>New User added to Subscriber</xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="UPDATE">
            <xsd:annotation>
               <xsd:documentation xmlns:lang="en-US">User Profile has been Updated</xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="MODIFY">
            <xsd:annotation>
               <xsd:documentation xmlns:lang="en-US">User Services(PLI) has been changed</xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="DELETE">
            <xsd:annotation>
               <xsd:documentation xmlns:lang="en-US">User Has been Deleted</xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="MOVE">
            <xsd:annotation>
               <xsd:documentation xmlns:lang="en-US">User has been moved from one Subscriber to Another</xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="userInfo">
      <xsd:sequence>
         <xsd:element name="firstName" minOccurs="1" nillable="false">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="30"></xsd:maxLength>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="lastName" minOccurs="1" nillable="false" default="N/A">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="30"></xsd:maxLength>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="tsaId" nillable="false">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="50"></xsd:maxLength>
                  <xsd:whiteSpace value="preserve"></xsd:whiteSpace>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="eMail">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="50"></xsd:maxLength>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="phone" type="xsd:string" nillable="true" minOccurs="0"></xsd:element>
		 <xsd:element name="jobFunction" type="xsd:string" nillable="true" minOccurs="0"></xsd:element>
         <xsd:element name="anonymous" type="tns:anonymousInfo" nillable="true"></xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="serviceInfo">
      <xsd:sequence>
         <xsd:element name="pliNumber" nillable="false">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="15"></xsd:maxLength>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="effectiveDate" type="xsd:date" nillable="false"></xsd:element>
         <xsd:element name="operation">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="I">
                     <xsd:annotation>
                        <xsd:documentation xmlns:lang="en-US">Installed PLI</xsd:documentation>
                     </xsd:annotation>
                  </xsd:enumeration>
                  <xsd:enumeration value="R">
                     <xsd:annotation>
                        <xsd:documentation xmlns:lang="en-US">Removed PLI</xsd:documentation>
                     </xsd:annotation>
                  </xsd:enumeration>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="hardStopFlag" type="tns:hsfType" nillable="true" minOccurs="0"></xsd:element>
         <xsd:element name="uniqueLineNumber" type="xsd:int">
            <xsd:annotation>
               <xsd:documentation>Corresponds to PLI Line Number per Transaction. Will be used as the reference to PLI</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="referenceItemNumber" type="xsd:string" nillable="true" minOccurs="0"></xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="moveInfo">
      <xsd:sequence>
         <xsd:element name="subscriber" type="tns:subscriberInfo">
            <xsd:annotation>
               <xsd:documentation xmlns:lang="en-US">Subscriber Info where users are moving to.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="subId" nillable="false" maxOccurs="unbounded">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="10"></xsd:maxLength>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="subscriberInfo">
      <xsd:sequence>
         <xsd:element name="subscriberId" nillable="false">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="50"></xsd:maxLength>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="subAcctId">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="3"></xsd:maxLength>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="billingInfoRequest" nillable="false">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="header" type="tns:messageHeader" nillable="false"></xsd:element>
            <xsd:element name="body" nillable="false">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="moveToSubscriber" type="tns:subscriberInfo" minOccurs="0" nillable="true"></xsd:element>
                     <xsd:element name="userDetail" type="tns:requestBody" maxOccurs="unbounded" minOccurs="0" nillable="true"></xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="billingInfoResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="messageHeader">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="transactionId" type="xsd:integer"></xsd:element>
                     <xsd:element name="responseDate" type="xsd:dateTime"></xsd:element>
                     <xsd:element name="status" type="tns:successInfo"></xsd:element>
                     <xsd:element name="responseSystem" type="xsd:string" minOccurs="0" nillable="true"></xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="messageBody" minOccurs="0">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="tranDetail" type="tns:responseInfo" maxOccurs="unbounded" minOccurs="1"></xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:simpleType name="successInfo">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="SUCCESS"></xsd:enumeration>
         <xsd:enumeration value="FAILURE"></xsd:enumeration>
         <xsd:whiteSpace value="preserve"></xsd:whiteSpace>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="responseInfo">
      <xsd:sequence>
         <xsd:element name="transactionId" type="xsd:integer" nillable="false"></xsd:element>
         <xsd:element name="referenceSystem" type="tns:referenceSystemInfo" minOccurs="0" nillable="true" form="qualified"></xsd:element>
         <xsd:element name="status" type="tns:successInfo"></xsd:element>
         <xsd:element name="error" type="tns:ErrorInfo" minOccurs="0" nillable="true"></xsd:element>
         <xsd:element name="service" type="tns:serviceResponseInfo" minOccurs="0" nillable="true" maxOccurs="unbounded"></xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ErrorInfo">
      <xsd:sequence>
         <xsd:element name="ErrorCode" type="xsd:string" nillable="false"></xsd:element>
         <xsd:element name="errorMsg" type="xsd:string" nillable="false"></xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="serviceResponseInfo">
      <xsd:sequence>
         <xsd:element name="uniqueLineNumber" type="xsd:int" minOccurs="0" nillable="true"></xsd:element>
         <xsd:element name="productCode" nillable="true" minOccurs="0">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string"></xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="refItemNumber" type="xsd:int"></xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="referenceSystemInfo">
      <xsd:sequence>
         <xsd:element name="orderNumber">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="30"></xsd:maxLength>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="systemName" type="xsd:string"></xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="arkType">
      <xsd:restriction base="xsd:string">
         <xsd:length value="3"></xsd:length>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="YesNo">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="Y">
            <xsd:annotation>
               <xsd:documentation>Yes</xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="N">
            <xsd:annotation>
               <xsd:documentation>No</xsd:documentation>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:length value="1"></xsd:length>
         <xsd:whiteSpace value="collapse"></xsd:whiteSpace>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="anonymousInfo">
      <xsd:sequence>
         <xsd:element name="value" type="tns:YesNo"></xsd:element>
         <xsd:element name="reason" type="tns:stringRestrict50" minOccurs="0"></xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="stringRestrict50">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="50"></xsd:maxLength>
      </xsd:restriction>
   </xsd:simpleType>
</xsd:schema>
