CRM_EAI_code_deploy/code/CRM6OpportunityManagement/TRUSTOP_OpportunityManager/TRUSTOP_OpportunityManager.wsdl

<definitions
     name="TRUSTOP_OpportunityManager"
     targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/OpportunityManagement/TRUSTOP_OpportunityManager"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/"
     xmlns:ns1="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/OpportunityManagement"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:ns3="http://schemas.oracle.com/bpel/extension"
     xmlns:pns1="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/OpportunityManagement/TRUSTOP_OpportunityManager/correlationset"
     xmlns:ns2="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/Common"
     xmlns:client="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/OpportunityManagement/TRUSTOP_OpportunityManager"
    >
    <import namespace="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/OpportunityManagement/TRUSTOP_OpportunityManager/correlationset"
         location="TRUSTOP_OpportunityManager_Properties.wsdl"/>
    <import namespace="http://schemas.oracle.com/bpel/extension" location="oramds:/soa/shared/bpel/RuntimeFault.wsdl"/>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/"
             xmlns:ns1="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/OpportunityManagement"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:ns3="http://schemas.oracle.com/bpel/extension"
             xmlns:ns2="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/Common" xmlns:pns1="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/OpportunityManagement/TRUSTOP_OpportunityManager/correlationset"
             xmlns:client="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/OpportunityManagement/TRUSTOP_OpportunityManager">
            <import namespace="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/OpportunityManagement/TRUSTOP_OpportunityManager"
                 schemaLocation="TRUSTOP_OpportunityManager.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/"
             xmlns:ns1="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/OpportunityManagement"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:ns3="http://schemas.oracle.com/bpel/extension"
             xmlns:ns2="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/Common" xmlns:pns1="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/OpportunityManagement/TRUSTOP_OpportunityManager/correlationset"
             xmlns:client="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/OpportunityManagement/TRUSTOP_OpportunityManager">
            <xsd:import namespace="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/OpportunityManagement"
                 schemaLocation="EAI.MSG.SFDC.OP.248_PublishOpportunityEventRequest.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/"
             xmlns:ns1="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/OpportunityManagement"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:ns3="http://schemas.oracle.com/bpel/extension"
             xmlns:ns2="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/Common" xmlns:pns1="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/OpportunityManagement/TRUSTOP_OpportunityManager/correlationset"
             xmlns:client="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/OpportunityManagement/TRUSTOP_OpportunityManager">
            <xsd:import namespace="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/Common" schemaLocation="EAI.MSG.EAI.169_BasicResponse.xsd"/>
        </xsd:schema>
    </types>
    <message name="ReleaseSequenceMessage">
        <part name="releaseSequence" element="ns2:basicResponse"/>
    </message>
    <message name="TRUSTOP_OpportunityManagerResponseMessage">
        <part name="payload" element="client:TRUSTOP_OpportunityManagerProcessResponse"/>
    </message>
    <message name="TRUSTOP_OpportunityManagerRequestMessage">
        <part name="manageOpportunity" element="ns1:SFDCOpportunityEvent"/>
    </message>
    <portType name="TRUSTOP_OpportunityManager">
        <operation name="manageOppty">
            <input message="client:TRUSTOP_OpportunityManagerRequestMessage"/>
        </operation>
        <operation name="updateReleaseStatus">
            <input name="input" message="client:ReleaseSequenceMessage"/>
        </operation>
    </portType>
    <portType name="TRUSTOP_OpportunityManagerCallback">
        <operation name="onResult">
            <input message="client:TRUSTOP_OpportunityManagerResponseMessage"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="TRUSTOP_OpportunityManager">
        <plnk:role name="TRUSTOP_OpportunityManagerProvider">
            <plnk:portType name="client:TRUSTOP_OpportunityManager"/>
        </plnk:role>
        <plnk:role name="TRUSTOP_OpportunityManagerRequester">
            <plnk:portType name="client:TRUSTOP_OpportunityManagerCallback"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <bpws:propertyAlias propertyName="pns1:OptyManagerCorrProp" xmlns:ns6="http://www.reuters.com/ns/2007/01/25/GCAP/EAI/UTL/Sequencer"
         messageType="ns6:SequenceCheckerRequestMessage" part="payload" query="/ns4:checkSequenceRequest/ns4:eaiHeader/ns5:tracingId"
         xmlns:ns5="http://www.reuters.com/ns/2007/09/01/GCAP/CommonMessageTypes" xmlns:ns4="http://www.reuters.com/ns/2007/09/01/GCAP/UTL/Sequencer"/>
    <bpws:propertyAlias propertyName="pns1:OptyManagerCorrProp" messageType="client:ReleaseSequenceMessage"
         part="releaseSequence" query="/ns2:basicResponse/ns2:eaiHeader/ns4:tracingId" xmlns:ns4="http://www.reuters.com/ns/2007/09/01/GCAP/CommonMessageTypes"/>
</definitions>
