CRM_EAI_code_deploy/code/CRM6OpportunityManagement/TRUSTOP_OpportunityManager/TRUSTOP_OpportunityManager.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/OpportunityManagement/TRUSTOP_OpportunityManager"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="TRUSTOP_OpportunityManagerProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="TRUSTOP_OpportunityManagerProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>