CRM_EAI_code_deploy/code/CRM61OM/TF_OrderDispatcher/TF_OrderDispatcher.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/01/25/GCAP/EAI/TOM/OM/TF_OrderDispatcher"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="TF_OrderDispatcherProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="TF_OrderDispatcherProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>