CRM_EAI_code_deploy/code/CRM61OM/ATHOM_Invoker/SEACommonType.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://sea.thomsonone.com/SEA/Service/2010-07-19"
    xmlns:tns="http://sea.thomsonone.com/SEA/Service/2010-07-19"
    elementFormDefault="qualified">
    <xsd:simpleType name="ProductExecutionType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="INSTALL"/>
            <xsd:enumeration value="REMOVE"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="UserDetailStructure">
        <xsd:sequence>
            <xsd:element name="FirstName" type="xsd:string"></xsd:element>
            <xsd:element name="LastName" type="xsd:string"></xsd:element>
            <xsd:element name="Phone" type="xsd:string" nillable="true" minOccurs="0"></xsd:element>
            <xsd:element name="EMail" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ProductStructure">
        <xsd:sequence>
            <xsd:element name="ProductCode" type="tns:ProductCodeType"></xsd:element>
            <xsd:element name="ProductName" type="xsd:string" minOccurs="0" nillable="true"></xsd:element>
            <xsd:element name="ProductType" type="tns:ProductType" nillable="true" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="ProductCodeType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ProductType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SOLUTN">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Solution</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="MODULE">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Module</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="EXCHNG">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Exchange</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="THPRTY">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Third Party Product</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="UserStatusType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ACTIVE"/>
            <xsd:enumeration value="PENDING"/>
            <xsd:enumeration value="DELETED"/>
            <xsd:enumeration value="INACTIVE"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ProductStatusType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ACTIVE"/>
            <xsd:enumeration value="DELETED"/>
            <xsd:enumeration value="INACTIVE"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ServerType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="PRIMARY"/>
            <xsd:enumeration value="BACKUP"/>
            <xsd:enumeration value="VIRTUAL"/>
            <xsd:enumeration value="INTERNET"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LoginSystemType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SAFE"/>
            <xsd:enumeration value="TSA"/>
            <xsd:enumeration value="ATHENA"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="AnonymousInfoStructure">
        <xsd:sequence>
            <xsd:element name="value" type="tns:YesNo"></xsd:element>
            <xsd:element name="reason" type="tns:stringRestrict50" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ServiceStructure">
        <xsd:sequence>
            <xsd:element name="Product" type="tns:ProductStructure"></xsd:element>
            <xsd:element name="Status" nillable="true" type="tns:ProductStatusType" minOccurs="0"></xsd:element>
            <xsd:element name="StartDate" type="xsd:date" nillable="true"></xsd:element>
            <xsd:element name="EndDate" type="xsd:date" nillable="true" minOccurs="0"></xsd:element>
            <xsd:element name="FreeTrial" default="N" type="tns:YesNo" nillable="true"></xsd:element>
            <xsd:element name="Action" nillable="false" type="tns:ProductExecutionType"></xsd:element>
            <xsd:element name="ProductLineReferenceNumber" type="xsd:string" nillable="true"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="YesNo">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Y">
                <xsd:annotation>
                    <xsd:documentation>Yes</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="N">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-US">No</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="UserSettingStructure">
        <xsd:sequence>
            <xsd:element name="Server" type="tns:ServerStructure"></xsd:element>
            <xsd:element name="JobFunction" type="xsd:string" nillable="true" minOccurs="0"></xsd:element>
            <xsd:element name="SeedAccount" type="xsd:string" nillable="true" minOccurs="0"></xsd:element>
            <xsd:element name="UserGroup" type="xsd:string" nillable="true" minOccurs="0"></xsd:element>
            <xsd:element name="Domain" type="xsd:string" nillable="true" minOccurs="0"></xsd:element>
            <xsd:element name="AnonymousInfo" type="tns:AnonymousInfoStructure" nillable="true"></xsd:element>
            <xsd:element name="ChannelPartner" type="xsd:string" nillable="true" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ServerStructure">
        <xsd:sequence>
            <xsd:element name="ServerName" type="xsd:string" default="AUTO"></xsd:element>
            <xsd:element name="ServerType" type="tns:ServerType" nillable="true" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AuthenticationStructure">
        <xsd:sequence>
            <xsd:element name="System" type="tns:LoginSystemType"></xsd:element>
            <xsd:element name="Login" type="xsd:string"></xsd:element>
            <xsd:element name="Password" type="xsd:string" nillable="true" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RequestHeaderStructure">
        <xsd:sequence>
            <xsd:element name="SubscriberInfo" type="tns:SubscriberInfoStructure" nillable="true"></xsd:element>
            <xsd:element name="RequestorCode" type="xsd:string" nillable="true" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">ReqeustorCode may represent Company Code or system Id.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RequestReferenceNumber" type="xsd:string" nillable="true" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Represent Requestor Reference Number associated with Entitlement Request</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CoordinatorLogin" type="xsd:string" nillable="true" minOccurs="0"></xsd:element>
            <xsd:element name="CoordinatorEmail" type="xsd:string" nillable="true" minOccurs="0"></xsd:element>
            <xsd:element name="TargetDate" type="xsd:date" nillable="true">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Target Date is used to set provisioining execution for specific date. If no date
provided then request would be send for execution ASAP. If start date on user
structure is provided then it would take precedence over Request
target date.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numberOfRecords" type="xsd:positiveInteger" nillable="true"></xsd:element>
            <xsd:element name="ActionCode" type="tns:TransactionActionType" nillable="true"></xsd:element>
            <xsd:element name="RequestProcess" type="tns:RequestProcessType" default="DELAY"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="RequestStatusType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SUCCESS"/>
            <xsd:enumeration value="FAILED"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="SubscriberInfoStructure">
        <xsd:sequence>
            <xsd:element name="SubscriberCode" type="xsd:string" minOccurs="0"></xsd:element>
            <xsd:element name="SubAccount" type="xsd:string" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ResponseHeaderStructure">
        <xsd:sequence>
            <xsd:element name="TransactionId" type="xsd:integer" minOccurs="0"></xsd:element>
            <xsd:element name="ReferenceSystem" type="tns:ReferenceSystemInfo" minOccurs="0"></xsd:element>
            <xsd:element name="ResponseDate" type="xsd:dateTime"></xsd:element>
            <xsd:element name="SubscriberInfo" type="tns:SubscriberInfoStructure" nillable="true"  minOccurs="0"></xsd:element>
            <xsd:element name="RequestStage" type="tns:RequestStageType"></xsd:element>
            <xsd:element name="ActionCode" type="tns:TransactionActionType" nillable="true"  minOccurs="0"></xsd:element>
            <xsd:element name="Status" type="tns:successInfo"></xsd:element>
            <xsd:element name="NumberRequestedRecords" type="xsd:nonNegativeInteger"></xsd:element>
            <xsd:element name="NumberSuccessfulRecords" type="xsd:nonNegativeInteger"></xsd:element>
            <xsd:element name="NumberFailedRecords" type="xsd:nonNegativeInteger"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ResponseDetailStructure">
        <xsd:sequence>
            <xsd:element name="UserId" type="xsd:string"></xsd:element>
            <xsd:element name="ReferenceSystemUserId" type="xsd:string" nillable="true" minOccurs="0"></xsd:element>
            <xsd:element name="SubscriberInfo" type="tns:SubscriberInfoStructure" nillable="true" minOccurs="0"></xsd:element>
            <xsd:element name="ActionCode" type="tns:TransactionActionType" nillable="true" minOccurs="0"></xsd:element>
            <xsd:element name="TransactionStatus" type="tns:RequestStatusType"></xsd:element>
            <xsd:element name="TransactionId" type="xsd:integer" minOccurs="0" nillable="true"></xsd:element>
            <xsd:element name="Error" type="tns:ErrorInfoStructure" nillable="true" minOccurs="0" maxOccurs="unbounded"></xsd:element>
            <xsd:element name="UserSetting" type="tns:UserSettingStructure" nillable="true" minOccurs="0"></xsd:element>
            <xsd:element name="PortfolioList" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="PortfolioItem" minOccurs="1" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="ProductCode" type="xsd:string"></xsd:element>
                                    <xsd:element name="ProductLineReferenceNumber" type="xsd:string"></xsd:element>
                                    <xsd:element name="Error" type="tns:ErrorInfoStructure" nillable="false" minOccurs="1" maxOccurs="unbounded"></xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ErrorInfoStructure">
        <xsd:sequence>
            <xsd:element name="ErrorCode" type="xsd:string" nillable="false"></xsd:element>
            <xsd:element name="ErrorMsg" type="xsd:string" nillable="false"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ServiceStatus">
        <xsd:sequence>
            <xsd:element name="ProductCode" type="xsd:string"></xsd:element>
            <xsd:element name="ProductReferenceNumber" type="xsd:string"></xsd:element>
            <xsd:element name="Error" type="tns:ErrorInfoStructure"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="ProductAction">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="TransactionActionType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ADD">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Transaction Type "ADD" should be used to add new user for subscriber.
Such transaction must be submitted with the set of Valid Product (one of that
must be Solution).
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="MODIFY">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Modify transaction should be used for updating User Services/Portfolio
The Product rule would still apply:
1. Modify Request can not be submitted without any products.
2. After Portfolio modified, one of the product should be Solution.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="UPDATE">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Update Transaction Type should be used to Update User Properties
like Login, Password, Email, Name...
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="DELETE">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Action should be used to request user's delete.
No product info is require to submit. Entitlement system
would put user in Suspend mode for 30 days, so the user coudl be
reistated.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="REINSTATE">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">User could be reinstated for 30 days from the day
Delete request is completed.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="MOVE">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">The action should be used to move user(s) from from
existing Subscriber to new one. Server info could be
updated as well, but one Server ID per Transaction
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="SUSPEND"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="stringRestrict50">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="RequestProcessType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="IMIDIATE">
                <xsd:annotation>
                    <xsd:documentation>The request process without any delay (syncronizly)</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="DELAY">
                <xsd:annotation>
                    <xsd:documentation>The request is excepted only and process asyncronizely</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="akrType">
        <xsd:restriction base="xsd:string">
            <xsd:length value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="hsfType">
        <xsd:annotation>
            <xsd:documentation>Hard Stop Flag Enumeration: E - Exchange, D - Delete, M - Migration, I - Web PLI. Internet Server Require </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="D"/>
            <xsd:enumeration value="E"/>
            <xsd:enumeration value="M"/>
            <xsd:enumeration value="I"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="successInfo">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SUCCESS"/>
            <xsd:enumeration value="FAILURE"/>
            <xsd:whiteSpace value="preserve"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="ReferenceSystemInfo">
        <xsd:sequence>
            <xsd:element name="orderNumber">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="systemName" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="xInfo">
        <xsd:sequence>
            <xsd:element name="infoName" type="xsd:string"></xsd:element>
            <xsd:element name="infoValue" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="RequestStageType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ACCEPTION">
                <xsd:annotation>
                    <xsd:documentation>The first Stage, exist only when Process Type is DELAY</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="CREATION">
                <xsd:annotation>
                    <xsd:documentation>Stage corresponds for creating transaction</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="COMPLETION">
                <xsd:annotation>
                    <xsd:documentation>Entitlement Completed eigther Successfully or Failed.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>