CRM_EAI_code_deploy/code/CRM61OM/ATHUOM_PropagateUserOrderStatus/ATHUOM_PropagateUserOrderStatus.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/CS/UOM/ATHUOM_PropagateUserOrderStatus"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="ATHUOM_PropagateUserOrderStatusProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="ATHUOM_PropagateUserOrderStatusProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>