CRM_EAI_code_deploy/code/CRM61OM/ATHUOM_PropagateUserOrderStatus/EAI.SRV.EXT.ATH.062_PropagateUserOrderStatusService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://service.coresuitews.sea.athena.thomsonreuters.com/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns1="http://xml.netbeans.org/schema/BillingNotifyMessage"
             targetNamespace="http://service.coresuitews.sea.athena.thomsonreuters.com/"
             name="BillingNotifyResponseServiceService">
  <types>
    <!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. -->
    <xs:schema xmlns:tns1="http://xml.netbeans.org/schema/BillingNotifyMessage"
               xmlns:xs="http://www.w3.org/2001/XMLSchema"
               elementFormDefault="qualified" version="1.0"
               targetNamespace="http://xml.netbeans.org/schema/BillingNotifyMessage">
      <xs:element name="billingInfoRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="header" type="tns1:messageHeader"></xs:element>
            <xs:element name="body">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="moveToSubscriber"
                              type="tns1:subscriberInfo"></xs:element>
                  <xs:element name="userDetail" type="tns1:requestBody"
                              nillable="true" minOccurs="0"
                              maxOccurs="unbounded"></xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="billingInfoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="messageHeader">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="transactionId" type="xs:integer"></xs:element>
                  <xs:element name="responseDate" type="xs:dateTime"></xs:element>
                  <xs:element name="status" type="tns1:successInfo"></xs:element>
                  <xs:element name="responseSystem" type="xs:string"></xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="messageBody" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="tranDetail" type="tns1:responseInfo"
                              maxOccurs="unbounded"></xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="notify" type="tns1:notify"></xs:element>
      <xs:element name="notifyResponse" type="tns1:notifyResponse"></xs:element>
      <xs:complexType name="notify">
        <xs:sequence>
          <xs:element name="arg0" form="unqualified" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="messageHeader" type="tns1:MessageHeader"></xs:element>             
                 
              
                <xs:element name="messageBody" minOccurs="0">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="tranDetail" type="tns1:responseInfo"
                                  maxOccurs="unbounded"></xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="requestBody">
        <xs:sequence>
          <xs:element name="transactionId" type="xs:int"></xs:element>
          <xs:element name="subId" type="xs:string"></xs:element>
          <xs:element name="akr" type="xs:string"></xs:element>
          <xs:element name="user" type="tns1:userInfo"></xs:element>
          <xs:element name="service" type="tns1:serviceInfo" nillable="true"
                      minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serviceInfo">
        <xs:sequence>
          <xs:element name="pliNumber" type="xs:string"></xs:element>
          <xs:element name="effectiveDate" type="xs:date"></xs:element>
          <xs:element name="operation" type="xs:string"></xs:element>
          <xs:element name="hardStopFlag" type="tns1:hsfType"></xs:element>
          <xs:element name="uniqueLineNumber" type="xs:int"></xs:element>
          <xs:element name="referenceItemNumber" type="xs:string"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="moveInfo">
        <xs:sequence>
          <xs:element name="subscriber" type="tns1:subscriberInfo"></xs:element>
          <xs:element name="subId" type="xs:string" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="subscriberInfo">
        <xs:sequence>
          <xs:element name="subscriberId" type="xs:string"></xs:element>
          <xs:element name="subAcctId" type="xs:string"></xs:element>
        </xs:sequence>
      </xs:complexType>
       <xs:complexType name="MessageHeader">
                    <xs:sequence>
                      <xs:element name="transactionId" type="xs:integer"></xs:element>
                      <xs:element name="responseDate" type="xs:dateTime"></xs:element>
                      <xs:element name="status" type="tns1:successInfo"></xs:element>
                      <xs:element name="responseSystem" type="xs:string"></xs:element>
                    </xs:sequence>
                  </xs:complexType>
      <xs:complexType name="messageHeader">
        <xs:sequence>
          <xs:element name="transactionId" type="xs:integer"></xs:element>
          <xs:element name="requestSystem" type="xs:string"></xs:element>
          <xs:element name="requestDate" type="xs:dateTime"></xs:element>
          <xs:element name="subscriber" type="tns1:subscriberInfo"></xs:element>
          <xs:element name="referenceSystem" type="tns1:referenceSystemInfo"></xs:element>
          <xs:element name="actionCode" type="tns1:actionCodeType"></xs:element>
          <xs:element name="requestorAdmin">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="adminName" type="xs:string"></xs:element>
                <xs:element name="adminEmail" type="xs:string" nillable="true"></xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="userInfo">
        <xs:sequence>
          <xs:element name="firstName" type="xs:string"></xs:element>
          <xs:element name="lastName" type="xs:string" default="N/A"></xs:element>
          <xs:element name="tsaId" type="xs:string"></xs:element>
          <xs:element name="eMail" type="xs:string"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ErrorInfo">
        <xs:sequence>
          <xs:element name="ErrorCode" type="xs:string"></xs:element>
          <xs:element name="errorMsg" type="xs:string"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serviceResponseInfo">
        <xs:sequence>
          <xs:element name="uniqueLineNumber" type="xs:int"></xs:element>
          <xs:element name="productCode" type="xs:string"></xs:element>
          <xs:element name="refItemNumber" type="xs:int"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="responseInfo">
        <xs:sequence>
          <xs:element name="transactionId" type="xs:integer"></xs:element>
          <xs:element name="referenceSystem" type="tns1:referenceSystemInfo"></xs:element>
          <xs:element name="status" type="tns1:successInfo"></xs:element>
          <xs:element name="error" type="tns1:ErrorInfo"></xs:element>
          <xs:element name="service" type="tns1:serviceResponseInfo"
                      nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="referenceSystemInfo">
        <xs:sequence>
          <xs:element name="orderNumber" type="xs:string"></xs:element>
          <xs:element name="systemName" type="xs:string"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="notifyResponse">
        <xs:sequence>
          <xs:element name="return" type="tns1:successInfo" form="unqualified"
                      minOccurs="0"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="successInfo">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SUCCESS"></xs:enumeration>
          <xs:enumeration value="FAILURE"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="actionCodeType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="CREATE"></xs:enumeration>
          <xs:enumeration value="UPDATE"></xs:enumeration>
          <xs:enumeration value="MODIFY"></xs:enumeration>
          <xs:enumeration value="DELETE"></xs:enumeration>
          <xs:enumeration value="MOVE"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="hsfType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="D"></xs:enumeration>
          <xs:enumeration value="E"></xs:enumeration>
          <xs:enumeration value="M"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </types>
  <message name="notify">
    <part name="parameters" element="tns1:notify"></part>
  </message>
  <message name="notifyResponse">
    <part name="parameters" element="tns1:notifyResponse"></part>
  </message>
  <portType name="BillingInfoResponseService">
    <operation name="notify">
      <input message="tns:notify"></input>
      <output message="tns:notifyResponse"></output>
    </operation>
  </portType>
  <binding xmlns:tns1="http://xml.netbeans.org/schema/BillingNotifyMessage"
           name="BillingNotifyResponseServicePortBinding"
           type="tns:BillingInfoResponseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
                  style="document"></soap:binding>
    <operation name="notify">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
  </binding>
  <service name="BillingNotifyResponseServiceService">
    <port name="BillingNotifyResponseServicePort"
          binding="tns:BillingNotifyResponseServicePortBinding">
      <soap:address location="${athena.protocol}://${athena.host}/BillingNotifyResponseServiceService/BillingNotifyResponseService"></soap:address>
    </port>
  </service>
</definitions>