CRM_EAI_code_deploy/code/Utilities/InterfaceManager/InterfaceConfig.wsdl

<?binding.jca InterfaceConfig_db.jca?>
<definitions name="InterfaceConfig" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/InterfaceConfig/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://xmlns.oracle.com/pcbpel/adapter/db/" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/InterfaceConfig/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/InterfaceConfig">
    <plt:partnerLinkType name="InterfaceConfig_plt">
        <plt:role name="InterfaceConfig_role">
            <plt:portType name="tns:InterfaceConfig_ptt"/>
        </plt:role>
    </plt:partnerLinkType>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/InterfaceConfig" schemaLocation="InterfaceConfig_table.xsd"/>
        </schema>
    </types>
    <message name="InterfaceConfigCollection_msg">
        <part name="InterfaceConfigCollection" element="top:InterfaceConfigCollection"/>
    </message>
    <message name="InterfaceConfigSelect_InterfaceID_inparameters">
        <part name="InterfaceConfigSelect_InterfaceID_inparameters" element="top:InterfaceConfigSelect_InterfaceIDInputParameters"/>
    </message>
    <portType name="InterfaceConfig_ptt">
        <operation name="update">
            <input message="tns:InterfaceConfigCollection_msg"/>
        </operation>
        <operation name="InterfaceConfigSelect_InterfaceID">
            <input message="tns:InterfaceConfigSelect_InterfaceID_inparameters"/>
            <output message="tns:InterfaceConfigCollection_msg"/>
        </operation>
    </portType>
</definitions>
