CRM_EAI_code_deploy/code/CRM61TF/TF_ManageQuote/TF_ManageQuote.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/01/25/GCAP/EAI/TF/TF_ManageQuote"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="TF_ManageQuoteProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="TF_ManageQuoteProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>