CRM_EAI_code_deploy/code/CRM61OM/CCRMOM_PropagateUserOrderRequest/CCRMOM_PropagateUserOrderRequest.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/CCRMOM_PropagateUserOrderRequest"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="CCRMOM_PropagateUserOrderRequestProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="CCRMOM_PropagateUserOrderRequestProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>