CRM_EAI_code_deploy/code/CRM61OM/OM_OrderDispatcher/EAI.MSG.OM.193_ExtendedOrderRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/*************************************************************************
* Module:			EAI.MSG.OM.193_ExtendedOrderRequest.xsd
*						Order Management
* Type:				XML Schema Document
* Description:	Extended Canonical Order Schema document to store the action and statuses to be sent as well
*
*
* Change History
* Version       Date            Author                          Description Of Change
* =======       ========        ==================              ===============================
*  0.01         10/01/08        G PATCHIPULUSU                Initial Version
*  0.02         25/01/08        S GANNAVARAPU                 Added next action , billingStatusToBeSent and permissioninStatusToBeSent at line level  
*  0.03         20/02/08        S GANNAVARAPU                 Added fields "manualPermissioningComplete","autoPermissioningComplete","nextAction1","nextAction2" and removed "nextAction"
*  0.04         04/04/08	S GANNAVARAPU		      Added ConfiguredAttribute complex type and configuredAttribute elements for PBI-334 and PBI-090
*                                                             Added productIntegrationId element for PBI-334 and PBI-090
*                                                             Added freeTrialEndDate element for PBI-334 and PBI-090
*                                                             Added parentOrderItemId and userIDType element for PBI-334 and PBI-090
*  0.05		21/08/08	Sreeja Prasad		      Added po,ssPersonId and slPersonId in CanonicalOrderHeader.
*  0.06		09/10/08	Rob Billington		      Added contactMarketFocus, contactReutersMessagingId, billingPlatform and umbrellaProductIntegrationId
*  0.07		14/10/08	Sreeja Prasad		      Added from WorkPhone to EmailAddress and  field1 to field3 for defect 19646.
*  0.08         09/02/10        Sreeja Prasad 		      Added expectedTRTMDate in CanonicalOrderHeader & nextAction3,oldContactUserId,CpfgErrorMessage,installSubscriberNumber,installSubscriberAccountId,installSubAccountNumber & installLocationAccountId in ExtendedCanonicalOLI for PBI -381 and PBI-421
*  0.09		24/03/10	Damodar			      Added SAPBillable,SAPItemNumber,PONumber,InstallLocationAccountNumber,BillToAccountNumber in CCRMOM_OLI as part of SAP Integration
*  0.10		07/04/10	Mallesh			      Added quantity in CCRMOM_OLI as part of SAP Integration
*  0.11		20/04/10	Mallesh			      Added accountLocId in CCRMOM_OLI as part of SAP Integration
*  0.12		30/04/10	Mallesh			      Added account in orderHeader as part of SAP Integration
*  0.13		03/05/10	Mallesh			      Added RCRMField1 in orderHeader and RCRMField2,RCRMField3 in CCRMOM_OLI as part of SAP Integration
*  0.14		18/05/10	Mallesh			      Added SoldToAccountNumber,RCRMField6,RCRMField7,quoteNumber in CCRMOMOrderHeader and SAPOrderNumber,RCRMField6,RCRMField7,RCRMField1,
							      RCRMField8,RCRMField9,RCRMField10,SAPActionCode,SAPBusinessCase,CalculatedListPrice,ListPrice,BillingPeriod,PublishContactToSAP,ContactStatus,product in CCRMOM_OLI as part of SAP Integration
*  0.15         18/03/10        Surya Gannavarapu             Added the fields CSAction,permBillFlag,nextAction3,nextAction4 and some SAP fields
*  0.16         23/04/10        Sreeja                        Added the field SiebelContactId for Athena manual perm for PBI-500
*  0.17	        01/07/10        Mallesh                       Added the field PPLId for CR119 as part of SAP Integration
*  0.18	        20/07/10	Sreeja   	              Added the fields orderOwner,userGroup,userDomain,anonymityFlag,anonymityReason,contactJobFunction,athenaServerId and product for CR 5862(SEA auto perm).
*  0.19	        20/07/10	Sreeja                        Added the field isDelete to map the RCRMField7 from siebel for CR 5862
*  0.20         12/01/11        Lavanya                       Added two fields RCRMSAPConCountry,RCRMDiscountReason at header level and OLI level respectively.
*  0.21         08/04/11        Tanmay                        Added one field priceListCurrency at Order Header level for CR-15630.
*  0.22         12/12/2011      Harshitha					Added primaryUUID under ExtendedCanonicalOLI for CR 9849
*************************************************************************/
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsdLocal="http://www.reuters.com/ns/2007/01/25/GCAP/EAI/OrderManagement" xmlns:cmt="http://www.reuters.com/ns/2007/09/01/GCAP/CommonMessageTypes" targetNamespace="http://www.reuters.com/ns/2007/01/25/GCAP/EAI/OrderManagement" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.08">
	<xsd:import namespace="http://www.reuters.com/ns/2007/09/01/GCAP/CommonMessageTypes" schemaLocation="oramds:/apps/EAIMetaData/schemas/EAI.XSD.005_CommonMessageTypes.xsd"/>
	<xsd:element name="extendedOrderRequest" type="xsdLocal:ExtendedOrderRequest"/>
	<xsd:complexType name="ExtendedOrderRequest">
		<xsd:sequence>
			<xsd:element name="eaiHeader" type="cmt:EaiHeader"/>
			<xsd:element name="logicalCountry" type="xsd:string"/>
			<xsd:element name="messageHeader" type="xsdLocal:CanonicalMessageHeader"/>
			<xsd:element name="orderHeader" type="xsdLocal:CanonicalOrderHeader"/>
			<xsd:element name="orderLineItem" type="xsdLocal:ExtendedCanonicalOLI" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExtendedCanonicalOLI">
		<xsd:sequence>
			<xsd:element name="CRMOLIId" type="xsd:string"/>
			<xsd:element name="rootItemId" type="xsd:string"/>
			<xsd:element name="parentOrderItemId" type="xsd:string"/>
			<xsd:element name="actionCode" type="xsd:string"/>
			<xsd:element name="businessCase" type="xsd:string"/>
			<xsd:element name="salesCode" type="xsd:string"/>
			<xsd:element name="subscriber" type="xsd:string"/>
			<xsd:element name="subAccount" type="xsd:string"/>
			<xsd:element name="PLI" type="xsd:string"/>
			<xsd:element name="permissioningSystem" type="xsd:string"/>
			<xsd:element name="manualPermissioningRequired" type="xsd:string"/>
			<xsd:element name="AKR" type="xsd:string"/>
			<xsd:element name="userID" type="xsd:string"/>
			<xsd:element name="userIDtype" type="xsd:string"/>
			<xsd:element name="userNumber" type="xsd:string"/>
			<xsd:element name="firstName" type="xsd:string"/>
			<xsd:element name="lastname" type="xsd:string"/>
			<xsd:element name="dob" type="xsd:string"/>
			<xsd:element name="isNewUser" type="xsd:string"/>
			<xsd:element name="installDate" type="xsd:string"/>
			<xsd:element name="removalDate" type="xsd:string"/>
			<xsd:element name="QUID" type="xsd:string"/>
			<xsd:element name="discount" type="xsd:string"/>
			<xsd:element name="specialPrice" type="xsd:string"/>
			<xsd:element name="specialPriceCurr" type="xsd:string"/>
			<xsd:element name="specialPriceRestrictionDate" type="xsd:string"/>
			<xsd:element name="itemNumber" type="xsd:string"/>
			<xsd:element name="startStopBillingDate" type="xsd:string"/>
			<xsd:element name="billingType" type="xsd:string"/>
			<xsd:element name="billingNote" type="xsd:string"/>
			<xsd:element name="freeTrailFlag" type="xsd:string"/>
			<xsd:element name="STB" type="xsd:string"/>
			<xsd:element name="assetIntegrationId" type="xsd:string"/>
			<xsd:element name="orderLineStatus" type="xsd:string"/>
			<xsd:element name="permissioningStatus" type="xsd:string"/>
			<xsd:element name="interfaceForBilling" type="xsd:string"/>
			<xsd:element name="interfaceForFulfilment" type="xsd:string"/>
			<xsd:element name="manualPermissioningComplete" type="xsd:string"/>
			<xsd:element name="autoPermissioningComplete" type="xsd:string"/>
			<xsd:element name="nextAction1" type="xsd:string"/>
			<xsd:element name="nextAction2" type="xsd:string"/>
			<xsd:element name="nextAction3" type="xsd:string"/>
			<xsd:element name="nextAction4" type="xsd:string"/>
			<xsd:element name="nextAction5" type="xsd:string"/>
			<xsd:element name="billingStatusToBeSent" type="xsd:string"/>
			<xsd:element name="permissioningStatusToBeSent" type="xsd:string"/>
			<xsd:element name="productIntegrationId" type="xsd:string"/>
                        <xsd:element name="freeTrialEndDate" type="xsd:string"/>
                        <xsd:element name="WorkPhone" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ResponseCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMePlatformId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMSupportLanguage" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMSegGrpEndUserActivity" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMRegionalFocus" type="xsd:string" minOccurs="0"  maxOccurs="1"/>
			<xsd:element name="RCRMMarketingConsentSetDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMManualPermissionedFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMLocalLastName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMLocalFirstName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMLocalDACSId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMLegalConsentSetDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMLegalConsent" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMLastUpdatedProfileDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMFTLFlagSetDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMFTLCompleteFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMErrorContext" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMErrorCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMDirectMarketing" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMCPfGTempURL" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMBillingAccount" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMActionCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMAAAUpdatedProfileDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="PrimaryAccountId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="primaryUUID" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ParentOrderItemId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ModId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="MM" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="EmailAddress" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="extraInfo" type="xsd:anyType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="configuredAttribute" type="xsdLocal:ExtendedConfiguredAttribute" maxOccurs="unbounded" minOccurs="0"/>
                        <xsd:element name="contactMarketFocus" type="xsd:string"/>
                        <xsd:element name="contactReutersMessagingId" type="xsd:string"/>
                        <xsd:element name="billingPlatform" type="xsd:string"/>
                        <xsd:element name="umbrellaProductIntegrationId" type="xsd:string"/>
			<xsd:element name="field1" type="xsd:string"/>
			<xsd:element name="field2" type="xsd:string"/>
			<xsd:element name="field3" type="xsd:string"/>
			<xsd:element name="oldContactUserId" type="xsd:string" minOccurs="0" maxOccurs="1"/>	
			<xsd:element name="CpfgErrorMessage" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="installSubscriberNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="installSubscriberAccountId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="installSubAccountNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="installLocationAccountId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="CSAction" type="xsd:string"/>
			<xsd:element name="permBillFlag" type="xsd:string"/>
			<xsd:element name="targetSystem" type="xsd:string"/>
			<xsd:element name="installLoccationAccountCustomerReferenceNumber" type="xsd:string"/>
			<xsd:element name="installBillingAccountCustomerReferenceNumber" type="xsd:string"/>
			<xsd:element name="legalEntityCustomerReferenceNumber" type="xsd:string"/>
			<xsd:element name="legalEntityLocationAccountId" type="xsd:string"/>
			<xsd:element name="billingSubscriberAccountId" type="xsd:string"/>
			<xsd:element name="PONumber" type="xsd:string"/>
			<xsd:element name="productDescription" type="xsd:string"/>
			<xsd:element name="editedListPrice" type="xsd:string"/>
			<xsd:element name="creditDebitFlag" type="xsd:string"/>
			<xsd:element name="productName" type="xsd:string"/>
			<xsd:element name="recurringBillingNotesIndicator" type="xsd:string"/>
			<xsd:element name="delayedBillingPeriod" type="xsd:string"/>
                        <xsd:element name="SAPIntegrationFlag" type="xsd:string"/>
                        <xsd:element name="PDPCode" type="xsd:string"/>
			<xsd:element name="SiebelContactId" type="xsd:string"/>
                        <xsd:element name="userGroup" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="userDomain" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="anonymityFlag" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="anonymityReason" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="contactJobFunction" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="serverId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<!--SAP Integration-->
			<xsd:element name="SAPBillable" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="SAPItemNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<!--<xsd:element name="PONumber" type="xsd:string" minOccurs="0" maxOccurs="1"/> -->
			<xsd:element name="InstallLocationAccountNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="BillToAccountNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="quantity" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="accountLocId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="RCRMField2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="RCRMField3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="SAPOrderNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMField6" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMField7" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMField1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMField8" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMField9" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMField10" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="SAPActionCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="SAPBusinessCase" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="CalculatedListPrice" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ListPrice" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="BillingPeriod" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="PublishContactToSAP" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ContactStatus" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="product" type="xsd:string"/>
                        <xsd:element name="PPLId" type="xsd:string"/>
			<!-- End -->
			<xsd:element name="isDelete" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        <!--As part of CR477 RCRMDiscountReason is added at OLI level -->
			<xsd:element name="RCRMDiscountReason" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CanonicalMessageHeader">
		<xsd:sequence>
			<xsd:element name="actionCode" type="xsd:string"/>
			<xsd:element name="version" type="xsd:string"/>
			<xsd:element name="userId" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CanonicalOrderHeader">
		<xsd:sequence>
			<xsd:element name="CRMOrderNumber" type="xsd:string"/>
			<xsd:element name="AAATransactionId" type="xsd:string"/>
			<xsd:element name="installDate" type="xsd:string"/>
			<xsd:element name="removalDate" type="xsd:string"/>
			<xsd:element name="po" type="xsd:string"/>
			<xsd:element name="orderNote" type="xsd:string"/>
			<xsd:element name="orderStatus" type="xsd:string"/>
			<xsd:element name="ssPersonId" type="xsd:string"/>
			<xsd:element name="slPersonId" type="xsd:string"/>
			<xsd:element name="pricelistCurrency" type="xsd:string"/>
                        <xsd:element name="account" type="xsd:string"/>
			<xsd:element name="expectedTRTMDate" type="xsd:string"/>
			<xsd:element name="orderOwner" type="xsd:string"/>
			<!--SAP Integration-->
                        <xsd:element name="RCRMField1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="SoldToAccountNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMField6" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RCRMField7" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="quoteNumber" type="xsd:string"/>
                        <!--End-->
                        <!--As part of CR477 a new field RCRMSAPConCountry is added at hearder level-->
			<xsd:element name="RCRMSAPConCountry" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	 <xsd:complexType name="ExtendedConfiguredAttribute">
                <xsd:sequence>
                    <xsd:element name="attributeIntegrationId" type="xsd:string"/>
                    <xsd:element name="attributeName" type="xsd:string"/>
                    <xsd:element name="valueIntegrationId" type="xsd:string"/>
                    <xsd:element name="value" type="xsd:string"/>
                </xsd:sequence>
        </xsd:complexType>
</xsd:schema>
