CRM_EAI_code_deploy/code/EAIMetaDataApp/EAIMetaData/Abstract/WSDL/ASYNC/CCRMOM_PropagateContactStatus/imports/CCRMOM_PropagateContactStatus.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/CCRM/CCRMOM_PropagateContactStatus"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="CCRMOM_PropagateContactStatusProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="CCRMOM_PropagateContactStatusProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>