CRM_EAI_code_deploy/code/CRM61AccountPub/CCRMAM_PropagateTRUSTAccount/CCRMAM_PropagateTRUSTAccount.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/NS/2007/01/25/GCAP/EAI/CCRM/AM/AccountPublish/CCRMAM_PropagateTRUSTAccount"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="CCRMAM_PropagateTRUSTAccountProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="CCRMAM_PropagateTRUSTAccountProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>