CRM_EAI_code_deploy/code/CSGPUpdates/CSGPM_PropagateGPStatusLogs/CSGPM_PropagateGPStatusLogs.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/CSGPM_PropagateGPStatusLogs"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="CSGPM_PropagateGPStatusLogsProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="CSGPM_PropagateGPStatusLogsProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>