CRM_EAI_code_deploy/code/CRM6OpportunityManagement/CCRMOP_SubmitOpportunity/CCRMOP_SubmitOpportunity.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/OpportunityManagement/CCRMOP_SubmitOpportunity"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="CCRMOP_SubmitOpportunityProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="CCRMOP_SubmitOpportunityProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>