CRM_EAI_code_deploy/code/CRM61OM/CPFGOM_OrderManager/CPFGOM_OrderManager.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/CPFG/CPFGOM_OrderManager"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="CPFGOM_OrderManagerProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="CPFGOM_OrderManagerProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>