CRM_EAI_code_deploy/code/CRM61ContactPub/CCRM_PropagateContactStatus/EAI.SRV.EXT.CM.311_ContactPublishStatusGenericService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
/*************************************************************************
* Module            EAI.SRV.EXT.CM.311_ContactPublishStatusGenericService
*                   Generic Contact Publish Status
* Type              Web Services Description Language (WSDL) File 
* Description       Service to recive the quote status and pass it to Siebel 
*
* Change History
* Version	Date		Author                      Description Of Change
* ========	========	======================      ===============================
*  0.01        	12/09/2011	Rijoy Purayil                   Initial Version
*************************************************************************/
-->
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://www.reuters.com/ns/2007/09/01/GCAP/external/GenericContactStatus"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/external/GenericContactStatus">
 <wsdl:types>
  <xsd:schema elementFormDefault="qualified"
              targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/external/GenericContactStatus">
   <xsd:element name="ContactPublishStatus">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="applicationId" type="xsd:string"/>
      <xsd:element name="transactionId" type="xsd:string"/>
      <xsd:element name="messageId" type="xsd:string"/>
      <xsd:element name="messageHistory" type="xsd:string"/>
      <xsd:element name="tracingId" type="xsd:string" nillable="true"/>
      <xsd:element name="timeStamp" type="xsd:dateTime"/>
      <xsd:element name="instanceId" type="xsd:string" nillable="true"/>
      <xsd:element name="timeToLive" type="xsd:int" nillable="true"/>
      <xsd:element name="payloadVersion" type="xsd:string"/>
      <xsd:element name="system" type="xsd:string"/>
      <xsd:element name="row_id" type="xsd:string"/>
      <xsd:element name="message_type" type="xsd:string"/>
      <xsd:element name="message" type="xsd:string"/>
      <xsd:element name="trace_id" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="ContactPublishStatusResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="applicationId" type="xsd:string"/>
      <xsd:element name="transactionId" type="xsd:string"/>
      <xsd:element name="messageId" type="xsd:string"/>
      <xsd:element name="messageHistory" type="xsd:string"/>
      <xsd:element name="tracingId" type="xsd:string" nillable="true"/>
      <xsd:element name="timeStamp" type="xsd:dateTime"/>
      <xsd:element name="instanceId" type="xsd:string" nillable="true"/>
      <xsd:element name="timeToLive" type="xsd:int" nillable="true"/>
      <xsd:element name="payloadVersion" type="xsd:string"/>
      <xsd:element name="response" type="xsd:string"/>
      <xsd:element name="responseCode" type="xsd:string"/>
      <xsd:element name="responseMessage" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="propagateContactPublishStatusIn">
  <wsdl:part name="contactStatus" element="tns:ContactPublishStatus"/>
 </wsdl:message>
 <wsdl:message name="propagateContactPublishStatusOut">
  <wsdl:part name="statusSubmissionResponse"
             element="tns:ContactPublishStatusResponse"/>
 </wsdl:message>
 <wsdl:portType name="propagateContactPublishStatusSoap">
  <wsdl:operation name="genericContactPublishStatus">
   <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This method
                                                           propagates a Contact
                                                           Publish Generic status</documentation>
   <wsdl:input message="tns:propagateContactPublishStatusIn"/>
   <wsdl:output message="tns:propagateContactPublishStatusOut"/>
  </wsdl:operation>
 </wsdl:portType>
 <wsdl:binding name="propagateContactPublishStatusSoap"
               type="tns:propagateContactPublishStatusSoap">
  <soap:binding style="document"
                transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="genericContactPublishStatus">
   <soap:operation soapAction="genericContactPublishStatus" style="document"/>
   <wsdl:input>
    <soap:body use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal"/>
   </wsdl:output>
  </wsdl:operation>
 </wsdl:binding>
 <wsdl:service name="propagateContactPublishStatus">
  <wsdl:port name="propagateContactPublishStatusSoap"
             binding="tns:propagateContactPublishStatusSoap">
   <soap:address location="http://ukcq-eai03:7777/event/CCRMCM/PropagateContactErrorStatusService"/>
  </wsdl:port>
 </wsdl:service>
</wsdl:definitions>
