CRM_EAI_code_deploy/code/Utilities/z_LoadBalancerProbe/xsd/Z_LoadBalancer_NodeHealthChk.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/CRM63Stubs_jws/Z_LoadBalancer_NodeHealthChk/Z_LoadBalancer_NodeHealthChk"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>