CRM_EAI_code_deploy/code/CRM61AccountPub/CCRMAM_PublishAccountRequestValidatorStub/CCRMAM_PublishAccountRequestValidatorStub.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/CS/ACM/CCRMAM_PublishAccountRequestValidatorStub"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="CCRMAM_PublishAccountRequestValidatorStubProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="CCRMAM_PublishAccountRequestValidatorStubProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>