CRM_EAI_code_deploy/code/CRM61OM/ATHCSOM_UserOrderSplitterNBatcher/ATHCSOM_UserOrderSplitterNBatcher.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/CS/UOM/ATHCSOM_UserOrderSplitterNBatcher"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="ATHCSOM_UserOrderSplitterNBatcherProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="ATHCSOM_UserOrderSplitterNBatcherProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>