CRM_EAI_code_deploy/code/ESO/ESOQM_QuoteCreationService/EAI.SRV.EXT.ESO.312_ReceiveESOQuotePublish.wsdl

<wsdl:definitions targetNamespace="http://www.reuters.com/ns/2011/09/12/GCAP/EAI/ESO/QM/ESOQuotePublish" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.reuters.com/ns/2011/09/12/GCAP/EAI/ESO/QM/ESOQuotePublish" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
   <wsdl:types>
      <s:schema elementFormDefault="qualified" targetNamespace="http://www.reuters.com/ns/2011/09/12/GCAP/EAI/ESO/QM/ESOQuotePublish">
         <s:element name="GenerateQuote">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="quote" type="tns:Quote"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:element name="GenerateQuoteResponse">
            <s:complexType>
               <s:sequence>
                  <s:element minOccurs="1" maxOccurs="1" name="quoteResponse" type="tns:QuoteResponse"/>
               </s:sequence>
            </s:complexType>
         </s:element>
         <s:complexType name="QuoteResponse">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="GenerateQuoteResult" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="GenerateQuoteResultCode" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="GenerateQuoteResultReason" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Quote">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="BillingAccountNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ExternalSource" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="InterfaceName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LineItems" type="tns:ArrayOfLineItem"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocationAccountNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="OpportunityId" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ProjectContactId" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ProjectContactEmail" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ProjectContactFirstName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ProjectContactRowId" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ProjectContactLastName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ProjectContactPhone" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ProjectContactTitle" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="RequesterContactId" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="RequesterEmail" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="RequesterExternalFlag" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="RequesterFirstName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="RequesterRowId" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="RequesterLastName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="RequesterPhone" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="RequesterTitle" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="TransactionId" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="WinLossReason" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DummyField1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DummyField2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DummyField3" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfLineItem">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="LineItem" nillable="true" type="tns:LineItem"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="LineItem">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="ESOAction" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="AssetIntegrationId" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Attributes" type="tns:ArrayOfAttribute"/>
               <s:element minOccurs="0" maxOccurs="1" name="BillingAccountNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ContactCJR" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ContactEmailAddress" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ContactFirstName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ContactId" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ContactLanguage" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ContactLastName" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ContactPhone" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ContactRowId" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ContactTitle" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="FreeTrialFlag" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LineNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LineNumber2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="LocationAccountNumber" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Operation" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ProductReference" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="QuantityRequested" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="ApplyDate" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DummyField1" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DummyField2" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="DummyField3" type="s:string"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="ArrayOfAttribute">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="unbounded" name="Attribute" nillable="true" type="tns:Attribute"/>
            </s:sequence>
         </s:complexType>
         <s:complexType name="Attribute">
            <s:sequence>
               <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
               <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string"/>
            </s:sequence>
         </s:complexType>
      </s:schema>
   </wsdl:types>
   <wsdl:message name="GenerateQuoteSoapIn">
      <wsdl:part name="parameters" element="tns:GenerateQuote"/>
   </wsdl:message>
   <wsdl:message name="GenerateQuoteSoapOut">
      <wsdl:part name="parameters" element="tns:GenerateQuoteResponse"/>
   </wsdl:message>
   <wsdl:portType name="publishQuoteService">
      <wsdl:operation name="GenerateQuote">
         <wsdl:input message="tns:GenerateQuoteSoapIn"/>
         <wsdl:output message="tns:GenerateQuoteSoapOut"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="publishQuoteSoap" type="tns:publishQuoteService">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="GenerateQuote">
         <soap:operation soapAction="GenerateQuote" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="publishQuoteService">
      <wsdl:port name="GenerateQuote" binding="tns:publishQuoteSoap">
         <soap:address location="http://inkaban3ua-eai01:7777/event/ESO/ESOQM_QuoteCreationServRS"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>