CRM_EAI_code_deploy/code/CRM61TF/CCRMTF_PropagateQuoteStatus/CCRMTF_PropagateQuoteStatus.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/01/25/GCAP/EAI/CCRM/TF/CCRMTF_PropagateQuoteStatus"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="CCRMTF_PropagateQuoteStatusProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="CCRMTF_PropagateQuoteStatusProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>