CRM_EAI_code_deploy/code/CRM61OM/TOMOM_InvokerDBAdapter/TOMOM_InvokerDBAdapter.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/TOMOM_InvokerDBAdapter"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="TOMOM_InvokerDBAdapterProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="TOMOM_InvokerDBAdapterProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>