CRM_EAI_code_deploy/code/CRM61OM/CSOM_OrderSplitter/CSOM_OrderSplitter.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/CS/CSOM_OrderSplitter"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="CSOM_OrderSplitterProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="CSOM_OrderSplitterProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>