CRM_EAI_code_deploy/code/CRM61AccountPub/SAPAM_Invoker/SAPAM_Invoker.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2010/07/10/SAMI/EAI/SAP/SAPAM_Invoker"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="SAPAM_InvokerProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="SAPAM_InvokerProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>