CRM_EAI_code_deploy/code/CRM61PricePublish/PM_PropagatePriceUpdate/PM_PropagatePriceUpdate.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/CCRM/PM/PriceUpdate/PM_PropagatePriceUpdate"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="PM_PropagatePriceUpdateProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="PM_PropagatePriceUpdateProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>