CRM_EAI_code_deploy/code/CRMActivityMgmt/CCRMG_PropagateTicketStatus/CCRMG_PropagateTicketStatus.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/CCRMMG/CCRMG_PropagateTicketStatus"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="CCRMG_PropagateTicketStatusProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="CCRMG_PropagateTicketStatusProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>