CRM_EAI_code_deploy/code/CRM61PricePublish/CSPM_TransformPriceUpdateStatus/CSPM_TransformPriceUpdateStatus.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/NS/2007/01/25/GCAP/EAI/CCRM/PM/CSPM_TransformPriceUpdateStatus"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="CSPM_TransformPriceUpdateStatusProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="CSPM_TransformPriceUpdateStatusProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>