CRM_EAI_code_deploy/code/CRM6OpportunityManagement/AM_DqTRUSTOptyUpdateNUpdateTRUSTID/EAI.SRV.EXT.SFDC.051_SendOpportunityToSFDCService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Web Services API : OpportunityManagement
-->
<definitions targetNamespace="http://soap.sforce.com/schemas/class/OpportunityManagement" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/schemas/class/OpportunityManagement">
 <types>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/OpportunityManagement">
   <xsd:element name="DebuggingInfo">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="debugLog" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:simpleType name="ID">
    <xsd:restriction base="xsd:string">
     <xsd:length value="18"/>
     <xsd:pattern value="[a-zA-Z0-9]{18}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogCategory">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Db"/>
     <xsd:enumeration value="Workflow"/>
     <xsd:enumeration value="Validation"/>
     <xsd:enumeration value="Callout"/>
     <xsd:enumeration value="Apex_code"/>
     <xsd:enumeration value="Apex_profiling"/>
     <xsd:enumeration value="All"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogCategoryLevel">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Internal"/>
     <xsd:enumeration value="Finest"/>
     <xsd:enumeration value="Finer"/>
     <xsd:enumeration value="Fine"/>
     <xsd:enumeration value="Debug"/>
     <xsd:enumeration value="Info"/>
     <xsd:enumeration value="Warn"/>
     <xsd:enumeration value="Error"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="LogInfo">
    <xsd:sequence>
     <xsd:element name="category" type="tns:LogCategory"/>
     <xsd:element name="level" type="tns:LogCategoryLevel"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="LogType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="None"/>
     <xsd:enumeration value="Debugonly"/>
     <xsd:enumeration value="Db"/>
     <xsd:enumeration value="Profiling"/>
     <xsd:enumeration value="Callout"/>
     <xsd:enumeration value="Detail"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="DebuggingHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="categories" minOccurs="0" maxOccurs="unbounded" type="tns:LogInfo"/>
      <xsd:element name="debugLevel" type="tns:LogType"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="CallOptions">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="client" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SessionHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="sessionId" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="AllowFieldTruncationHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="allowFieldTruncation" type="xsd:boolean"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="OpportunityCampaignInfo">
    <xsd:sequence>
     <xsd:element name="CampaignSourceCode" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="OpportunityProductInfo">
    <xsd:sequence>
     <xsd:element name="FreeTrialFlag" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="InstalledTo" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="MonthlyRecurringRevenue" minOccurs="0" type="xsd:double" nillable="true"/>
     <xsd:element name="OneTimeRevenue" minOccurs="0" type="xsd:double" nillable="true"/>
     <xsd:element name="ProductComments" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="ProductFamily" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Quantity" minOccurs="0" type="xsd:double" nillable="true"/>
     <xsd:element name="RevenueType" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SiebelId" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="OpportunityRequest">
    <xsd:sequence>
     <xsd:element name="ActiveQuote" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="BlockedOpportunities" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="CloseDate" minOccurs="0" type="xsd:date" nillable="true"/>
     <xsd:element name="CurrencyCode" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="ExpectedRevenue" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="ExpectedRevenueDate" minOccurs="0" type="xsd:date" nillable="true"/>
     <xsd:element name="FTMonthlyRecurring" minOccurs="0" type="xsd:double" nillable="true"/>
     <xsd:element name="FTOneTimeRevenue" minOccurs="0" type="xsd:double" nillable="true"/>
     <xsd:element name="IsPoRequired" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="MonthlyRecurring" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="OneTimeRevenue" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="OpportunityCampaignData" minOccurs="0" maxOccurs="unbounded" type="tns:OpportunityCampaignInfo" nillable="true"/>
     <xsd:element name="OpportunityDescription" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="OpportunityName" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="OpportunityNumber" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="OpportunityProductData" minOccurs="0" maxOccurs="unbounded" type="tns:OpportunityProductInfo" nillable="true"/>
     <xsd:element name="OpportunityTeamData" minOccurs="0" maxOccurs="unbounded" type="tns:OpportunityTeamInfo" nillable="true"/>
     <xsd:element name="OpportunityType" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="OwnerEmailId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Probability" minOccurs="0" type="xsd:double" nillable="true"/>
     <xsd:element name="PurchaseOrderNumber" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SFDCAccountId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SFDCOpptyId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SiebelAccountId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SiebelOpptyId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="Stage" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="UtahBlockedOpportunities" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="WinLossReason" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="OpportunitySiebelIdUpdateRequest">
    <xsd:sequence>
     <xsd:element name="SFDCId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SiebelId" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="OpportunityTeamInfo">
    <xsd:sequence>
     <xsd:element name="EmployeeEmailAddress" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TRUSTResponse">
    <xsd:sequence>
     <xsd:element name="Comments" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SFDCId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="SiebelId" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="StatusCode" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="StatusDescription" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="publishOpportunity">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="oppRequest" type="tns:OpportunityRequest" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="publishOpportunityResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:TRUSTResponse" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="updateSiebelId">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="request" type="tns:OpportunitySiebelIdUpdateRequest" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="updateSiebelIdResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:TRUSTResponse" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <!-- Message for the header parts -->
 <message name="Header">
  <part name="AllowFieldTruncationHeader" element="tns:AllowFieldTruncationHeader"/>
  <part name="CallOptions" element="tns:CallOptions"/>
  <part name="DebuggingHeader" element="tns:DebuggingHeader"/>
  <part name="DebuggingInfo" element="tns:DebuggingInfo"/>
  <part name="SessionHeader" element="tns:SessionHeader"/>
 </message>
 <!-- Operation Messages -->
 <message name="publishOpportunityRequest">
  <part element="tns:publishOpportunity" name="parameters"/>
 </message>
 <message name="publishOpportunityResponse">
  <part element="tns:publishOpportunityResponse" name="parameters"/>
 </message>
 <message name="updateSiebelIdRequest">
  <part element="tns:updateSiebelId" name="parameters"/>
 </message>
 <message name="updateSiebelIdResponse">
  <part element="tns:updateSiebelIdResponse" name="parameters"/>
 </message>
 <portType name="OpportunityManagementPortType">
  <operation name="publishOpportunity">
   <input message="tns:publishOpportunityRequest"/>
   <output message="tns:publishOpportunityResponse"/>
  </operation>
  <operation name="updateSiebelId">
   <input message="tns:updateSiebelIdRequest"/>
   <output message="tns:updateSiebelIdResponse"/>
  </operation>
 </portType>
 <binding name="OpportunityManagementBinding" type="tns:OpportunityManagementPortType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="publishOpportunity">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="updateSiebelId">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
 </binding>
 <service name="OpportunityManagementService">
  <documentation></documentation>
  <port binding="tns:OpportunityManagementBinding" name="OpportunityManagement">
   <soap:address location="${trust.protocol}://${trust.host}/services/Soap/class/OpportunityManagement"/>
  </port>
 </service>
</definitions>