CRM_EAI_code_deploy/code/CRM61AccountPub/CPFGAM_AccountMgtStub/CPFG_StubAccountStore.wsdl

<?binding.jca CPFG_StubAccountStore_db.jca?>
<definitions name="CPFG_StubAccountStore" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/CPFG_StubAccountStore/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:hdr="http://xmlns.oracle.com/pcbpel/adapter/db/" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/CPFG_StubAccountStore/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/CPFGStubAccountStore">
    <plt:partnerLinkType name="CPFG_StubAccountStore_plt">
        <plt:role name="CPFG_StubAccountStore_role">
            <plt:portType name="tns:CPFG_StubAccountStore_ptt"/>
        </plt:role>
    </plt:partnerLinkType>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CPFGStubAccountStore" schemaLocation="CPFGStubAccountStore_table.xsd"/>
        </schema>
    </types>
    <message name="CpfgAccountCollection_msg">
        <part name="CpfgAccountCollection" element="top:CpfgAccountCollection"/>
    </message>
    <message name="CPFG_StubAccountStoreSelect_id_inparameters">
        <part name="CPFG_StubAccountStoreSelect_id_inparameters" element="top:CPFG_StubAccountStoreSelect_idInputParameters"/>
    </message>
    <portType name="CPFG_StubAccountStore_ptt">
        <operation name="merge">
            <input message="tns:CpfgAccountCollection_msg"/>
        </operation>
        <operation name="write">
            <input message="tns:CpfgAccountCollection_msg"/>
        </operation>
        <operation name="delete">
            <input message="tns:CpfgAccountCollection_msg"/>
        </operation>
        <operation name="insert">
            <input message="tns:CpfgAccountCollection_msg"/>
        </operation>
        <operation name="update">
            <input message="tns:CpfgAccountCollection_msg"/>
        </operation>
        <operation name="CPFG_StubAccountStoreSelect_id">
            <input message="tns:CPFG_StubAccountStoreSelect_id_inparameters"/>
            <output message="tns:CpfgAccountCollection_msg"/>
        </operation>
    </portType>
</definitions>
