CRM_EAI_code_deploy/code/CRM61OM/ATHOM_SubmitFulfilmentStatus/EAI.MSG.ATH.UOM.274_UserOrderRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://xml.netbeans.org/schema/BillingNotifyMessage"
    elementFormDefault="qualified" version="1.0"
    xmlns:tns="http://xml.netbeans.org/schema/BillingNotifyMessage"
    xmlns:ns="http://xml.netbeans.org/schema/BillingNotifyMessage" xmlns:ns4="http://sea.thomsonone.com/SEA/Service/2010-07-19">
    <xsd:annotation>
        <xsd:appinfo>
            <metadata>
                <Creator>ThomsonReuters MIS Group</Creator>
                <Author Href="mailto:alex.berenshtein@thomson.com">Alex Berenshtein</Author>
                <Contributor/>
                <Created>04-15-2009</Created>
                <Modified>02-11-2010</Modified>
                <Description>Schema for Athena-CS Interface</Description>
                <Format Scheme="http://www.iana.org/assignments/media-types/">text/xml</Format>
                <Language codeListID="ISO639-2">eng</Language>
                <ConformsTo>http://www.w3.org/2001/XMLSchema</ConformsTo>
                <Requires/>
                <Copyright/>
                <Status>Draft</Status>
                <StatusDescription>Awaiting approval</StatusDescription>
                <Version>1.0</Version>
                <Project>Reuter+Athena-CoreSuite Integration</Project>
                <Title>BillingNotifyRequest</Title>
            </metadata>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:import schemaLocation="SEACommonType.xsd" namespace="http://sea.thomsonone.com/SEA/Service/2010-07-19"/>
    <xsd:complexType name="messageHeader">
        <xsd:sequence>
            <xsd:element name="transactionId" type="xsd:integer"/>
            <xsd:element name="requestSystem" type="xsd:string"/>
            <xsd:element name="requestDate" type="xsd:dateTime"/>
            <xsd:element name="subscriber" type="tns:subscriberInfo" nillable="false"></xsd:element>
            <xsd:element name="referenceSystem" type="ns4:ReferenceSystemInfo" nillable="true" minOccurs="0"></xsd:element>
            <xsd:element name="actionCode" type="ns4:TransactionActionType"></xsd:element>
            <xsd:element name="requestorAdmin">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="adminName" nillable="false">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="30"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="adminEmail" nillable="true">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="40"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="requestBody">
        <xsd:sequence>
            <xsd:element name="transactionId" type="xsd:int" nillable="false"></xsd:element>
            <xsd:element name="subId" nillable="false">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="akr" type="ns4:akrType" nillable="true" minOccurs="0"></xsd:element>
            <xsd:element name="user" type="tns:userInfo" nillable="true" minOccurs="0"></xsd:element>
            <xsd:element name="service" type="tns:serviceInfo" maxOccurs="unbounded" nillable="true" minOccurs="0"></xsd:element>
            <xsd:element name="billNotes" type="xsd:string" minOccurs="0" nillable="true"></xsd:element>
            <xsd:element name="xInfoList" type="ns4:xInfo" nillable="true" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="userInfo" >
        <xsd:sequence>
            <xsd:element name="firstName" minOccurs="1" nillable="false">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="lastName" minOccurs="1" nillable="false" default="N/A">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="tsaId" nillable="false">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                        <xsd:whiteSpace value="preserve"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="eMail">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="phone" type="xsd:string" nillable="true" minOccurs="0"></xsd:element>
            <xsd:element name="anonymous" type="tns:anonymousInfo" nillable="true"></xsd:element>
            <xsd:element name="referenceSystemUserId" type="xsd:string" nillable="true" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="serviceInfo">
        <xsd:sequence>
            <xsd:element name="pliNumber" nillable="false">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="15"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="effectiveDate" type="xsd:date" nillable="false"></xsd:element>
            <xsd:element name="operation">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="I">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en-US">Installed PLI</xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value="R">
                            <xsd:annotation>
                                <xsd:documentation xml:lang="en-US">Removed PLI</xsd:documentation>
                            </xsd:annotation>
                        </xsd:enumeration>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="hardStopFlag" type="ns4:hsfType" nillable="true" minOccurs="0"></xsd:element>
            <xsd:element name="uniqueLineNumber" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Corresponds to PLI Line Number per Transaction. Will be used as the reference to PLI</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="referenceItemNumber" type="xsd:string" nillable="true" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="moveInfo">
        <xsd:sequence>
            <xsd:element name="subscriber" type="tns:subscriberInfo">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en-US">Subscriber Info where users are moving to.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="subId" nillable="false" maxOccurs="unbounded">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="subscriberInfo">
        <xsd:sequence>
            <xsd:element name="subscriberId" nillable="false">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="7"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="subAcctId">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="3"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="billingInfoRequest" nillable="false">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="header" type="tns:messageHeader" nillable="false"></xsd:element>
                <xsd:element name="body" nillable="false">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="moveToSubscriber" type="tns:moveInfo" minOccurs="0" nillable="true"></xsd:element>
                            <xsd:element name="userDetail" type="tns:requestBody" maxOccurs="unbounded" minOccurs="0" nillable="true"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="billingInfoResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="messageHeader">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="transactionId" type="xsd:integer"></xsd:element>
                            <xsd:element name="responseDate" type="xsd:dateTime"></xsd:element>
                            <xsd:element name="status" type="ns4:successInfo"></xsd:element>
                            <xsd:element name="responseSystem" type="xsd:string" minOccurs="0" nillable="true"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="messageBody" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="tranDetail" type="tns:responseInfo" maxOccurs="unbounded" minOccurs="1"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="responseInfo">
        <xsd:sequence>
            <xsd:element name="transactionId" type="xsd:integer" nillable="false"></xsd:element>
            <xsd:element name="referenceSystem" type="ns4:ReferenceSystemInfo" minOccurs="0" nillable="true" form="qualified"></xsd:element>
            <xsd:element name="status" type="ns4:successInfo"></xsd:element>
            <xsd:element name="error" type="ns4:ErrorInfoStructure" minOccurs="0" nillable="true"></xsd:element>
            <xsd:element name="service" type="tns:serviceResponseInfo" minOccurs="0" nillable="true" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ErrorInfo">
        <xsd:sequence>
            <xsd:element name="ErrorCode" type="xsd:string" nillable="false"></xsd:element>
            <xsd:element name="errorMsg" type="xsd:string" nillable="false"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="serviceResponseInfo">
        <xsd:sequence>
            <xsd:element name="uniqueLineNumber" type="xsd:int" minOccurs="0" nillable="true"></xsd:element>
            <xsd:element name="productCode" nillable="true" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="refItemNumber" type="xsd:int"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="anonymousInfo">
        <xsd:sequence>
            <xsd:element name="value" type="ns4:YesNo"></xsd:element>
            <xsd:element name="reason" type="ns4:stringRestrict50" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>