CRM_EAI_code_deploy/code/CRM61AccountPub/TRUSTAM_PropagateAccount/TRUSTAM_PropagateAccount.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/SFDC/AccountPublish/TRUSTAM_PropagateAccount"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="TRUSTAM_PropagateAccountProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="TRUSTAM_PropagateAccountProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>