CRM_EAI_code_deploy/code/CRM61OM/CSOM_UserFulfilment/CSOM_UserFulfilment.wsdl

<definitions
     name="CSOM_UserFulfilment"
     targetNamespace="http://www.reuters.com/NS/2007/01/25/GCAP/EAI/OrderManagement/CSOM_UserFulfilment"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:ns1="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/CS/OM/OrderManagement"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:ns2="http://schemas.oracle.com/bpel/extension"
     xmlns:client="http://www.reuters.com/NS/2007/01/25/GCAP/EAI/OrderManagement/CSOM_UserFulfilment"
    >
    <import namespace="http://schemas.oracle.com/bpel/extension" location="oramds:/soa/shared/bpel/RuntimeFault.wsdl"/>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/CS/OM/OrderManagement"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:client="http://www.reuters.com/NS/2007/01/25/GCAP/EAI/OrderManagement/CSOM_UserFulfilment">
            <import namespace="http://www.reuters.com/NS/2007/01/25/GCAP/EAI/OrderManagement/CSOM_UserFulfilment"
                 schemaLocation="CSOM_UserFulfilment.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/CS/OM/OrderManagement"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:client="http://www.reuters.com/NS/2007/01/25/GCAP/EAI/OrderManagement/CSOM_UserFulfilment">
            <xsd:import namespace="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/CS/OM/OrderManagement"
                 schemaLocation="EAI.MSG.CS.OM.165_UserCreationRequest.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/CS/OM/OrderManagement"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:client="http://www.reuters.com/NS/2007/01/25/GCAP/EAI/OrderManagement/CSOM_UserFulfilment">
            <xsd:import namespace="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/CS/OM/OrderManagement"
                 schemaLocation="EAI.MSG.CS.OM.164_UserCreationRequest.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/CS/OM/OrderManagement"
                 schemaLocation="EAI.MSG.CS.OM.162_FixedLengthRequest.xsd"/>
        </xsd:schema>
    </types>
    <message name="CSOM_UserFulfilmentResponseMessage">
        <part name="payload" element="client:CSOM_UserFulfilmentProcessResponse"/>
    </message>
    <message name="CSOM_UserFulfilmentRequestMessage">
        <part name="userRequest" element="ns1:compassUser"/>
    </message>
    <portType name="CSOM_UserFulfilmentCallback">
        <operation name="onResult">
            <input message="client:CSOM_UserFulfilmentResponseMessage"/>
        </operation>
    </portType>
    <portType name="CSOM_UserFulfilment">
        <operation name="transformUser">
            <input message="client:CSOM_UserFulfilmentRequestMessage"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="CSOM_UserFulfilment">
        <plnk:role name="CSOM_UserFulfilmentProvider">
            <plnk:portType name="client:CSOM_UserFulfilment"/>
        </plnk:role>
        <plnk:role name="CSOM_UserFulfilmentRequester">
            <plnk:portType name="client:CSOM_UserFulfilmentCallback"/>
        </plnk:role>
    </plnk:partnerLinkType>
</definitions>
