CRM_EAI_code_deploy/code/CRM61ContactPub/CCRMCM_PropagateContactErrorStatus/CCRMCM_PropagateContactErrorStatus.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/CCRMCM_PropagateContactErrorStatus"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="CCRMCM_PropagateContactErrorStatusProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="CCRMCM_PropagateContactErrorStatusProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>