CRM_EAI_code_deploy/code/CRM61ContactPub/CCRMCM_PropagateContactErrorStatus/SAPCM_PropagateContactStatus.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/SAPCM_PropagateContactStatus"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="SAPCM_PropagateContactStatusProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="SAPCM_PropagateContactStatusProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>