CRM_EAI_code_deploy/code/CRM61OM/CSOM_TransformUserStatus/CSOM_TransformUserStatus.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/NS/2007/01/25/GCAP/EAI/OrderManagement//CSOM_TransformUserStatus"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="CSOM_TransformUserStatusProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="CSOM_TransformUserStatusProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>