CRM_EAI_code_deploy/code/CRM61ContactPub/SFDCCM_ContactPublish/SFDCCM_ContactPublish.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="SFDCCM_ContactPublish" targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/SFDC/ContactPublish" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"   xmlns:xsdLocal="http://www.reuters.com/ns/2007/09/01/GCAP/SFDC/ContactPublish">
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.reuters.com/ns/2007/09/01/GCAP/SFDC/ContactPublish" targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/SFDC/ContactPublish">
<xsd:element name="DebuggingInfo">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="debugLog" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>
<xsd:simpleType name="ID">
	<xsd:restriction base="xsd:string">
		<xsd:length value="18"/>
		<xsd:pattern value="[a-zA-Z0-9]{18}"/>
	</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="LogCategory">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="Db"/>
		<xsd:enumeration value="Workflow"/>
		<xsd:enumeration value="Validation"/>
		<xsd:enumeration value="Callout"/>
		<xsd:enumeration value="Apex_code"/>
		<xsd:enumeration value="Apex_profiling"/>
		<xsd:enumeration value="Visualforce"/>
		<xsd:enumeration value="System"/>
		<xsd:enumeration value="All"/>
	</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="LogCategoryLevel">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="Internal"/>
		<xsd:enumeration value="Finest"/>
		<xsd:enumeration value="Finer"/>
		<xsd:enumeration value="Fine"/>
		<xsd:enumeration value="Debug"/>
		<xsd:enumeration value="Info"/>
		<xsd:enumeration value="Warn"/>
		<xsd:enumeration value="Error"/>
	</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="LogInfo">
	<xsd:sequence>
		<xsd:element name="category" type="tns:LogCategory"/>
		<xsd:element name="level" type="tns:LogCategoryLevel"/>
	</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="LogType">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="None"/>
		<xsd:enumeration value="Debugonly"/>
		<xsd:enumeration value="Db"/>
		<xsd:enumeration value="Profiling"/>
		<xsd:enumeration value="Callout"/>
		<xsd:enumeration value="Detail"/>
	</xsd:restriction>
</xsd:simpleType>
<xsd:element name="DebuggingHeader">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="categories" minOccurs="0" maxOccurs="unbounded" type="tns:LogInfo"/>
			<xsd:element name="debugLevel" type="tns:LogType"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>
<xsd:element name="CallOptions">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="client" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>
<xsd:element name="SessionHeader">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="sessionId" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>
<xsd:element name="AllowFieldTruncationHeader">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="allowFieldTruncation" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>
<xsd:complexType name="ContactAccount">
	<xsd:sequence>
		<xsd:element name="AccountANumber" minOccurs="0" type="xsd:string" nillable="false"/>
		<xsd:element name="ActionCode" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="PrimaryFlag" minOccurs="0" type="xsd:string" nillable="true"/>
	</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ContactFunction">
	<xsd:sequence>
		<xsd:element name="AccountANumber" minOccurs="0" type="xsd:string" nillable="false"/>
		<xsd:element name="ActionCode" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="FunctionValue" minOccurs="0" type="xsd:string" nillable="false"/>
		<xsd:element name="PrimaryFlag" minOccurs="0" type="xsd:string" nillable="true"/>
	</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ContactIdUpdateandResponse">
	<xsd:sequence>
		<xsd:element name="ContactUniqueNumber" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="SFDCId" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="SourceSystem" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="StatusCode" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="StatusDescription" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="TransactionId" minOccurs="0" type="xsd:string" nillable="true"/>
	</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ContactRequest">
	<xsd:sequence>
		<xsd:element name="ActionCode" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="AssetFocus1" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="AssetFocus2" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="AssetFocus3" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="BuySellCorpSide" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="ComplianceJobRole" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="ContactAccountData" minOccurs="0" maxOccurs="unbounded" type="tns:ContactAccount" nillable="true"/>
		<xsd:element name="ContactFunctionData" minOccurs="0" maxOccurs="unbounded" type="tns:ContactFunction" nillable="true"/>
		<xsd:element name="ContactUniqueNumber" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="Department" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="DirectMarketing" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="EmailAddress" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="EndUserActivity" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="FaxNumber" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="FirstName" minOccurs="0" type="xsd:string" nillable="false"/>
		<xsd:element name="Floor" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="FTLDate" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="FTLFlag" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="JobTitle" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="KNLastTrained" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="Language" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="LastName" minOccurs="0" type="xsd:string" nillable="false"/>
		<xsd:element name="LastUpdatedBy" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="LastUpdatedDate" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="LegalConsent" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="LocalFirstName" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="LocalLastName" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="LocalSalutation" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="MobileNumber" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="PrimaryAccountANumber" minOccurs="0" type="xsd:string" nillable="false"/>
		<xsd:element name="Salutation" minOccurs="0" type="xsd:string" nillable="false"/>
		<xsd:element name="SFDCId" minOccurs="0" type="xsd:string" nillable="false"/>
		<xsd:element name="SourceSystem" minOccurs="0" type="xsd:string" nillable="false"/>
		<xsd:element name="Status" minOccurs="0" type="xsd:string" nillable="false"/>
		<xsd:element name="VIPFlag" minOccurs="0" type="xsd:string" nillable="true"/>
		<xsd:element name="WorkPhoneNumber" minOccurs="0" type="xsd:string" nillable="true"/>
	</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="publishTrustContactEaiHeader">
    <xsd:sequence>
     <xsd:element name="applicationId" type="xsd:string"/>
     <xsd:element name="transactionId" type="xsd:string"/>
     <xsd:element name="messageId" type="xsd:string"/>
     <xsd:element name="messageHistory" type="xsd:string"/>
     <xsd:element name="tracingId" type="xsd:string" nillable="true"/>
     <xsd:element name="timeStamp" type="xsd:dateTime"/>
     <xsd:element name="instanceId" type="xsd:string" nillable="true"/>
     <xsd:element name="timeToLive" type="xsd:int" nillable="true"/>
     <xsd:element name="payloadVersion" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
<xsd:element name="TRUSTInboundContact">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="ConRequest" type="tns:ContactRequest" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>
<xsd:element name="TRUSTOutboundContact">
    <xsd:complexType >
            <xsd:sequence>
                    <xsd:element name="eaiHeader" type="tns:publishTrustContactEaiHeader" nillable="true"/>
                    <xsd:element name="ConRequest" type="tns:ContactRequest" nillable="true"/>
                    <xsd:element name="ContactAccount" type="tns:ContactAccount" nillable="true"/>
                    <xsd:element name="ContactFunction" type="tns:ContactFunction" nillable="true"/>
            </xsd:sequence>
    </xsd:complexType>
</xsd:element>
<xsd:element name="TRUSTOutboundContactResponse">
    <xsd:complexType >
            <xsd:sequence>
                    <xsd:element name="result" type="tns:ContactIdUpdateandResponse" nillable="true"/>
            </xsd:sequence>
    </xsd:complexType>
</xsd:element>
<xsd:element name="TRUSTInboundContactResponse">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="result" type="tns:ContactIdUpdateandResponse" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>
<xsd:element name="basicResponseElement">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="Response" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
</xsd:schema>        
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="request" element="xsdLocal:TRUSTOutboundContact"/>
    </wsdl:message>
    <wsdl:message name="basicResponse">
        <wsdl:part name="Resp" element="xsdLocal:basicResponseElement"/>
    </wsdl:message>
    <wsdl:portType name="execute_ptt">
        <wsdl:operation name="execute">
            <wsdl:input message="xsdLocal:requestMessage"/>
            <wsdl:output message="xsdLocal:basicResponse"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
