CRM_EAI_code_deploy/code/CRM61OM/SAPOM_Invoker/EAI.MSG.SAP.OM.287_PublishOrderRequest.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<!--
	*****************************************************************************************************************
	*   Module:        EAI.MSG.SAP.OM.287_PublishOrderRequest.xsd					        
	*   Type:          XSD Schema										         
	*   Description:   The Schema used as a internal to request SAP                           
	*													        
	*	Change History											        
	*		Version      	Date     	Author            			Description Of Change                   
	*												                
	*       0.2          15/04/08   	Albin Issac      	         Max length of ASSET_INT_ID changed to 30 character 
	******************************************************************************************************************
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.reuters.com/ns/2010/03/22/B2CC/EAI/SAP/OrderManagement/ZSDCONTRACT"
            targetNamespace="http://www.reuters.com/ns/2010/03/22/B2CC/EAI/SAP/OrderManagement/ZSDCONTRACT"
            elementFormDefault="qualified">


<xsd:element name="ZSDCONTRACT">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="IDOC" type="ZSDCONTRACT.ZSDCONTRACT"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="ZSDCONTRACT.Z1SDITEM">
<xsd:sequence>
<xsd:element name="CUST_BILLTO" minOccurs="0">

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="CUST_SHIPTO" minOccurs="0">

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ACTION" minOccurs="0">


<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="50"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="AKR" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ASSET_INT_ID" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="BILL_TYPE" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="BILLING_NOTE" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="108"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="START_DATE" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="8"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="STOP_DATE" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="8"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="OPERATION" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="CR_DR" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="DELYD_BP" minOccurs="0">


<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="PO_NO" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="50"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="PO_DATE" minOccurs="0">


<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="8"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="QTY" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="17"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="QUOTE_NO" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="SPEC_PRICE" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="EDL_PRICE" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="SIEB_ORLIN_ID" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="REC_BIL_FLG" minOccurs="0">


<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="SPEC_PRICE_CURR" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="5"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="SPEC_PRICE_EDATE" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="8"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>

<xsd:element name="EDL_PRICE_CURR" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="5"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>

<xsd:element name="DLYD_BIL_PERIOD" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="SIEB_USER" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="PRODUCT" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="50"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="PROD_DESC" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="255"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
</xsd:complexType>
<xsd:complexType name="EDI_DC40.ZSDCONTRACT.ZSDCONTRACT">
<xsd:sequence>
<xsd:element name="TABNAM" type="xsd:string" fixed="EDI_DC40">



</xsd:element>
<xsd:element name="MANDT" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="DOCNUM" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="16"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="DOCREL" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="STATUS" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="DIRECT">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="1">



</xsd:enumeration>
<xsd:enumeration value="2">



</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="OUTMOD" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="EXPRSS" minOccurs="0">


<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="TEST" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="IDOCTYP" type="xsd:string" fixed="ZSDCONTRACT">


</xsd:element>
<xsd:element name="CIMTYP" minOccurs="0">


<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="30"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="MESTYP" type="xsd:string" fixed="ZSDCONTRACT">



</xsd:element>
<xsd:element name="MESCOD" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="MESFCT" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="STD" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="STDVRS" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="STDMES" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="SNDPOR">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="SNDPRT">


<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="SNDPFC" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="SNDPRN">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="SNDSAD" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="21"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="SNDLAD" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="70"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="RCVPOR">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="RCVPRT" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="RCVPFC" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="RCVPRN">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="RCVSAD" minOccurs="0">


<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="21"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="RCVLAD" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="70"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="CREDAT" minOccurs="0">



<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="8"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="CRETIM" minOccurs="0">


<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="REFINT" minOccurs="0">

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="14"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="REFGRP" minOccurs="0">

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="14"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="REFMES" minOccurs="0">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="14"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="ARCKEY" minOccurs="0">


<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="70"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="SERIAL" minOccurs="0">

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
</xsd:complexType>
<xsd:complexType name="ZSDCONTRACT.ZSDCONTRACT">

<xsd:sequence>
<xsd:element name="EDI_DC40" type="EDI_DC40.ZSDCONTRACT.ZSDCONTRACT"/>
<xsd:element name="Z1SDCUST" type="ZSDCONTRACT.Z1SDCUST"/>
</xsd:sequence>
<xsd:attribute name="BEGIN" type="xsd:string" fixed="1" use="required"/>
</xsd:complexType>
<xsd:complexType name="ZSDCONTRACT.Z1SDCUST">

<xsd:sequence>
<xsd:element name="CUST_SOLDTO" minOccurs="0">

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="SIEB_ORD_ID" minOccurs="0">

<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="15"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="Z1SDITEM" type="ZSDCONTRACT.Z1SDITEM" minOccurs="0" maxOccurs="99999"/>
</xsd:sequence>
<xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
</xsd:complexType>
</xsd:schema>