CRM_EAI_code_deploy/code/CRM61OM/SAPOM_Invoker/SAPOM_Invoker.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/01/25/GCAP/EAI/SAP/OrderRequest"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="SAPOM_InvokerProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="SAPOM_InvokerProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>