CRM_EAI_code_deploy/code/CRM61PricePublish/CCRMPM_PriceRequestValidatorStub/CCRMPM_PriceRequestValidatorStub.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/NS/2007/01/25/GCAP/CCRM/PM/CCRMPM_PriceRequestValidatorStub"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="CCRMPM_PriceRequestValidatorStubProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="CCRMPM_PriceRequestValidatorStubProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>