CRM_EAI_code_deploy/code/EAIMetaDataApp/EAIMetaData/schemas/EAI.XSD.019_CommonUserOrderTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--********************************************************************************
	* Module:      EAI.XSD.019_CommonUserOrderTypes.xsd
	* Type:        XSD Schema
	* Description: The schema used for Common Athena Message attributes
	*
	* Change History
	* Version     Date      Author             Description Of Change
	*  0.1	      11/06/09	Sreeja		    Initial Version
	*  0.2	      19/06/09  Sreeja		    Added restriction for AKR from 0 to 1000.
	*  0.3	      22/06/09  Sreeja		    Added Complex type AthActioncode.
 	*  0.4	      30/11/09	Sreeja		    Added the QuoteId
	*  0.5	      30/11/09	Sreeja		    Added the ExtraField1,ExtraField2,ExtraField3 & ErrorMessage
	*  0.6        12/02/10  Sreeja		    Added AnonymousFlag and Phone for PBI-433
	*  0.7        18/02/10  Sreeja		    Added anonymousFlagReason for PBI-433
	*  0.8        22/09/11  Ramanjana	    Added JobFunction
	**********************************************************************************-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:local="http://www.reuters.com/ns/2007/09/01/GCAP/CommonUserOrderTypes" xmlns:gcap-sa="http://www.reuters.com/ns/2007/09/01/GCAP/SchemaAnnotations" targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/CommonUserOrderTypes" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.5">
	<xsd:import namespace="http://www.reuters.com/ns/2007/09/01/GCAP/SchemaAnnotations" schemaLocation="./EAI.XSD.001_SchemaAnnotations.xsd"/>
	<xsd:simpleType name="CountryCode">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example>
					<content>FR</content>
					<comment>Country code for France</comment>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="2"/>
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TransactionId">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem>
					[SIEBEL LDM].[ACCOUNT].[ID]
				</gcap-sa:EquivalentDataItem>
				<gcap-sa:Example>
					<content>1-FFR2-10</content>
					<comment>Transaction Id</comment>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SourceSystem">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem>
					[SIEBEL LDM].[ACCOUNT].[NAME]
				</gcap-sa:EquivalentDataItem>
				<gcap-sa:Example>
					<content>A</content>
					<comment>Athena</comment>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Subscriber">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example>
					<content>UK41237</content>
					<comment>Subscriber number</comment>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="7"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SubAccount">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem>
					[SIEBEL LDM].[ACCOUNT ADDRESS].[CITY]
				</gcap-sa:EquivalentDataItem>
				<gcap-sa:Example>
					<content>SubAccount</content>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>	
	<xsd:simpleType name="EffectiveDateTime">
       <xsd:union memberTypes="xsd:dateTime local:EmptyString"/>
    </xsd:simpleType>
  	<xsd:simpleType name="EffectiveDate">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example>
					<content>2008-02-02</content>
					<comment>Check Date</comment>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:date">
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value=""/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="SiebelOrderNumber">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example>
					<content>Order Number</content>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ActionCode">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example>
					<content>Order Number</content>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AthActionCode">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example>
					<content>Order Number</content>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NumOfLines">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example>
					<content>006</content>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UOLIId">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AthenaSubId">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FirstName">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example>
					<content>Geratayya</content>
					<comment>First Name</comment>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LastName">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example>
					<content>Patchipulusu</content>
					<comment>Last Name</comment>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TSAID">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example>
					<content/>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EmailId">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example>
					<content/>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="_AKR">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example>
					<content>101</content>
					<comment>Admin keystation number</comment>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:int">
			<xsd:minInclusive value="0"/>
			<xsd:maxExclusive value="1000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AKR">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example>
					<content>101</content>
					<comment>Admin keystation number</comment>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:union memberTypes="local:_AKR local:EmptyString"/>
	</xsd:simpleType>
	<xsd:simpleType name="PLI">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example>
					<content>XK3INTD1</content>
					<comment>Price list item</comment>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="InstallRemoveInd">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example>
					<content/>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ItemNumber">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example>
					<content>2678</content>
					<comment>Item number</comment>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:int">
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value=""/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:simpleType name="HardStopFlag">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example>
					<content/>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SystemName">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example>
					<content/>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AdminName">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example>
					<content/>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RequestSystem">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example>
					<content/>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="QuoteId">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example>
					<content/>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ErrorMessage">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example>
					<content/>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ExtraField1">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example>
					<content/>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AnonymousFlag">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example>
					<content/>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Phone">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example>
					<content/>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="JobFunction">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example>
					<content/>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
	<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="AnonymousFlagReason">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem/>
				<gcap-sa:Example>
					<content/>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EmptyString">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
