CRM_EAI_code_deploy/code/Sequencer/SequenceReleaser/SequenceReleaser.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/01/25/GCAP/EAI/UTL/Sequencer"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="SequenceReleaserProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="SequenceReleaserProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>