CRM_EAI_code_deploy/code/CRM61OM/CSOM_TransformOrderStatus/CSOM_TransformOrderStatus.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/NS/2007/01/25/GCAP/EAI/OrderManagement/CSOM_TransformOrderStatus"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="CSOM_TransformOrderStatusProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="CSOM_TransformOrderStatusProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>