CRM_EAI_code_deploy/code/AccountGateway/SRESB/SiebelSR.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<?Siebel-Property-Set EscapeNames="false"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsdLocal1="http://www.siebel.com/xml/RCRM%20Account%20-%20Service"
             targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/RCRM"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://www.reuters.com/ns/2007/09/01/GCAP/RCRM">
  <types>
    <xsd:schema elementFormDefault="qualified"
                attributeFormDefault="unqualified"
                xmlns:xsdLocal1="http://www.siebel.com/xml/RCRM%20Account%20-%20Service"
                targetNamespace="http://www.siebel.com/xml/RCRM%20Account%20-%20Service"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:annotation>
        <xsd:documentation>Copyright (C) 2001-2004 Siebel Systems, Inc. All
                           rights reserved. Siebel XSD Generation</xsd:documentation>
      </xsd:annotation>
      <xsd:element name="SrThinBc" type="xsdLocal1:SrThinBc"></xsd:element>
      <xsd:complexType name="SrThinBcTopElmt">
        <xsd:sequence>
          <xsd:element name="SrThinBc" maxOccurs="1" minOccurs="1"
                       type="xsdLocal1:SrThinBc"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SrThinBc">
        <xsd:sequence>
          <xsd:element name="TimeStamp" maxOccurs="1" minOccurs="0"
                       type="xsd:string"></xsd:element>
          <xsd:element name="ErrorCode" maxOccurs="1" minOccurs="0"
                       type="xsd:string"></xsd:element>
          <xsd:element name="ErrorMessage" maxOccurs="1" minOccurs="0"
                       type="xsd:string"></xsd:element>
          <xsd:element name="RCRMField4" maxOccurs="1" minOccurs="0"
                       type="xsd:string"></xsd:element>
          <xsd:element name="RCRMField3" maxOccurs="1" minOccurs="0"
                       type="xsd:string"></xsd:element>
          <xsd:element name="RCRMField2" maxOccurs="1" minOccurs="0"
                       type="xsd:string"></xsd:element>
          <xsd:element name="RCRMField1" maxOccurs="1" minOccurs="0"
                       type="xsd:string"></xsd:element>
          <xsd:element name="Contact" maxOccurs="1" minOccurs="0"
                       type="xsd:string"></xsd:element>
          <xsd:element name="SearchSpec" maxOccurs="1" minOccurs="0"
                       type="xsdLocal1:string250"></xsd:element>
          <xsd:element name="TotalNoOfRecords" maxOccurs="1" minOccurs="0"
                       type="xsdLocal1:string10"></xsd:element>
          <xsd:element name="SRSubType" maxOccurs="1" minOccurs="0"
                       type="xsdLocal1:string30"></xsd:element>
          <xsd:element name="Severity" maxOccurs="1" minOccurs="0"
                       type="xsdLocal1:string30"></xsd:element>
          <xsd:element name="PageNumber" maxOccurs="1" minOccurs="0"
                       type="xsdLocal1:string4"></xsd:element>
          <xsd:element name="Id" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
          <xsd:element name="AccountId" maxOccurs="1" minOccurs="0"
                       type="xsd:string"></xsd:element>
          <xsd:element name="Created" maxOccurs="1" minOccurs="0"
                       type="xsdLocal1:string30"></xsd:element>
          <xsd:element name="Abstract" maxOccurs="1" minOccurs="0"
                       type="xsdLocal1:string100"></xsd:element>
          <xsd:element name="Age" maxOccurs="1" minOccurs="0" type="xsd:string"></xsd:element>
          <xsd:element name="SRType" maxOccurs="1" minOccurs="0"
                       type="xsdLocal1:string30"></xsd:element>
          <xsd:element name="Description" maxOccurs="1" minOccurs="0"
                       type="xsdLocal1:string2000"></xsd:element>
          <xsd:element name="FrontLineOwner" maxOccurs="1" minOccurs="0"
                       type="xsdLocal1:string50"></xsd:element>
          <xsd:element name="Priority" maxOccurs="1" minOccurs="0"
                       type="xsd:string"></xsd:element>
          <xsd:element name="Status" maxOccurs="1" minOccurs="0"
                       type="xsdLocal1:string30"></xsd:element>
          <xsd:element name="SRNumber" maxOccurs="1" minOccurs="0"
                       type="xsdLocal1:string64"></xsd:element>
          <xsd:element name="SubStatus" maxOccurs="1" minOccurs="0"
                       type="xsdLocal1:string30"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="string250">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="250"></xsd:maxLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string2000">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2000"></xsd:maxLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50"></xsd:maxLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string64">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="64"></xsd:maxLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10"></xsd:maxLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30"></xsd:maxLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string100">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="100"></xsd:maxLength>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4"></xsd:maxLength>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified"
                attributeFormDefault="unqualified"
                targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/RCRM"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.siebel.com/xml/RCRM%20Account%20-%20Service"></xsd:import>
      <xsd:element name="RCRMServiceRequestOutput_Input">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="xsdLocal1:SrThinBc"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RCRMServiceRequestOutput_Output">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="xsdLocal1:SrThinBc"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="RCRMServiceRequestOutput_Input">
    <part name="RCRMServiceRequestOutput_Input"
          element="tns:RCRMServiceRequestOutput_Input"></part>
  </message>
  <message name="RCRMServiceRequestOutput_Output">
    <part name="RCRMServiceRequestOutput_Output"
          element="tns:RCRMServiceRequestOutput_Output"></part>
  </message>
  <portType name="RCRMServiceRequestOutput">
    <operation name="RCRMServiceRequestOutput">
      <input message="tns:RCRMServiceRequestOutput_Input"></input>
      <output message="tns:RCRMServiceRequestOutput_Output"></output>
    </operation>
  </portType>
  <binding name="RCRMServiceRequestOutput" type="tns:RCRMServiceRequestOutput">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
                  style="document"></soap:binding>
    <operation name="RCRMServiceRequestOutput">
      <soap:operation soapAction="document/http://www.reuters.com/ns/2007/09/01/GCAP/RCRM:RCRMServiceRequestOutput"></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
    </operation>
  </binding>
  <service name="RCRM_spcAccount_spcService_spcRequest_spcData">
    <port binding="tns:RCRMServiceRequestOutput"
          name="RCRMServiceRequestOutput">
     <soap:address location="${siebel.protocol}://${siebel.host}/eai_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;UserName=${siebel.UserName}&amp;Password=${siebel.Password}"></soap:address> 
    </port>
  </service>
</definitions>