CRM_EAI_code_deploy/code/ESO/ESOQM_PropagateQuoteSubmitStatus/EAI.SRV.EXT.ESO.314_PropagateESOQuoteStatus.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://soap.sforce.com/schemas/class/EAItoESO" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://soap.sforce.com/schemas/class/EAItoESO" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/EAItoESO">
      <xsd:element name="DebuggingInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="debugLog" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string">
          <xsd:length value="18" />
          <xsd:pattern value="[a-zA-Z0-9]{18}" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LogCategory">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Db" />
          <xsd:enumeration value="Workflow" />
          <xsd:enumeration value="Validation" />
          <xsd:enumeration value="Callout" />
          <xsd:enumeration value="Apex_code" />
          <xsd:enumeration value="Apex_profiling" />
          <xsd:enumeration value="Visualforce" />
          <xsd:enumeration value="System" />
          <xsd:enumeration value="All" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="LogCategoryLevel">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Internal" />
          <xsd:enumeration value="Finest" />
          <xsd:enumeration value="Finer" />
          <xsd:enumeration value="Fine" />
          <xsd:enumeration value="Debug" />
          <xsd:enumeration value="Info" />
          <xsd:enumeration value="Warn" />
          <xsd:enumeration value="Error" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="LogInfo">
        <xsd:sequence>
          <xsd:element name="category" type="tns:LogCategory" />
          <xsd:element name="level" type="tns:LogCategoryLevel" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="LogType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="None" />
          <xsd:enumeration value="Debugonly" />
          <xsd:enumeration value="Db" />
          <xsd:enumeration value="Profiling" />
          <xsd:enumeration value="Callout" />
          <xsd:enumeration value="Detail" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="DebuggingHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="categories" type="tns:LogInfo" />
            <xsd:element name="debugLevel" type="tns:LogType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CallOptions">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="client" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SessionHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AllowFieldTruncationHeader">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="allowFieldTruncation" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="UpdateRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Actioncode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="ErrorMessage" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="QuoteNumber" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="Sourcesystem" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="Timestamp" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="TransactionId" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="mtrfUpdateESOQuoteRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="req" nillable="true" type="tns:UpdateRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="mtrfUpdateESOQuoteRequestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Header">
    <part name="AllowFieldTruncationHeader" element="tns:AllowFieldTruncationHeader" />
    <part name="CallOptions" element="tns:CallOptions" />
    <part name="DebuggingHeader" element="tns:DebuggingHeader" />
    <part name="DebuggingInfo" element="tns:DebuggingInfo" />
    <part name="SessionHeader" element="tns:SessionHeader" />
  </message>
  <message name="mtrfUpdateESOQuoteRequestRequest">
    <part name="parameters" element="tns:mtrfUpdateESOQuoteRequest" />
  </message>
  <message name="mtrfUpdateESOQuoteRequestResponse">
    <part name="parameters" element="tns:mtrfUpdateESOQuoteRequestResponse" />
  </message>
  <portType name="EAItoESOPortType">
    <operation name="mtrfUpdateESOQuoteRequest">
      <input message="tns:mtrfUpdateESOQuoteRequestRequest" />
      <output message="tns:mtrfUpdateESOQuoteRequestResponse" />
    </operation>
  </portType>
  <binding name="EAItoESOBinding" type="tns:EAItoESOPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="mtrfUpdateESOQuoteRequest">
      <soap:operation soapAction="" />
      <input>
        <soap:header message="tns:Header" part="SessionHeader" use="literal" />
        <soap:header message="tns:Header" part="CallOptions" use="literal" />
        <soap:header message="tns:Header" part="DebuggingHeader" use="literal" />
        <soap:header message="tns:Header" part="AllowFieldTruncationHeader" use="literal" />
        <soap:body use="literal" parts="parameters" />
      </input>
      <output>
        <soap:header message="tns:Header" part="DebuggingInfo" use="literal" />
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EAItoESOService">
    <documentation>
    </documentation>
    <port name="EAItoESO" binding="tns:EAItoESOBinding">
      <soap:address location="${trust.eso.protocol}://${trust.eso.host}/services/Soap/class/EAItoESO" />
    </port>
  </service>
</definitions>