CRM_EAI_code_deploy/code/CRM61AccountPub/ELMAM_Invoker/ELMAM_Invoker.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/ELMAM_Invoker"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="ELMAM_InvokerProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="ELMAM_InvokerProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>