CRM_EAI_code_deploy/code/CRM61AccountPub/CSACM_AccountContactManager/CSACM_AccountContactManager.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/CS/ACM/CSACM_AccountContactManager"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="CSACM_AccountContactManagerProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="CSACM_AccountContactManagerProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>