CRM_EAI_code_deploy/code/CRM61OM/CPFGEF_ElectronicFulfilmentServiceStub/xsd/EAI.XSD.002_CommonUserTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--********************************************************************************
* Module:      EAI.XSD.002_CommonUserTypes.xsd
* Type:       	XSD Schema
* Description: The schema used for Common User Message attributes
*
* Change History
* Version     Date      Author             Description Of Change
*
*  0.1        21/02/07  Siva (Detica)	   Initial Version
*  0.02       06/03/07  Rob Billington	   Version scheme changed
*  0.03       23/03/07  Geratayya P		   Changed the elements in the camel case
*  0.04       23/03/07  Rob Billington	   Removed common message types and renamed surName to surname
*  0.05       27/03/07  Rob Billington	   Changed surname to LastName to comply with CDM.  Added local first and last names as apparently we'll need them.  Changed length of title to 15 characters to comply with CDM.
*  0.06	      27/03/07  Kevin Wood	       Some constraints updated to reflect CDMv2.0
*  0.07	      03/04/07  Geratayya P	       Updated as based on Contact EAI IO Object Def 20070328 v07.xls
*  0.08	      10/04/07  Kevin Wood	       Added Login type and updated FTLUserDetails and syncCPfGUserDetails to include
*  0.09	      16/04/07  Kevin Wood         Removed login element from UpdateUserDetails type
*  0.10       24/07/07  Mark Flynn         Updated to reflect new processes
*  0.11       13/08/07  Rob Billington     Added restriction to allowable characters for UUID and domain
*  0.12       13/08/07  Rob Billington     Renamed DACSServerID to LocalDACSID. Increased max length of LastName to 50 to match CDM v2
*                                          Corrected example value in comment for _FTLCompleted 
*                                          Increased length of userID and emailAddress to 320 characters to match Siebel implementation and user ID policy. 
*                                          Changed CDM mapping for JobRole. 
*  0.13       14/08/07  Rob Billington     Renamed accountID to locationAccountID
**********************************************************************************-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gcap="http://www.reuters.com/ns/2007/09/01/GCAP/CommonUserTypes" xmlns:gcap-sa="http://www.reuters.com/ns/2007/09/01/GCAP/SchemaAnnotations" xmlns:gcap-cat="http://www.reuters.com/ns/2007/09/01/GCAP/CommonAccountTypes" xmlns:gcap-cmt="http://www.reuters.com/ns/2007/09/01/GCAP/CommonMessageTypes" targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/CommonUserTypes" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.13">
	<xsd:import namespace="http://www.reuters.com/ns/2007/09/01/GCAP/SchemaAnnotations" schemaLocation="EAI.XSD.001_SchemaAnnotations.xsd"/>
	<xsd:import namespace="http://www.reuters.com/ns/2007/09/01/GCAP/CommonAccountTypes" schemaLocation="EAI.XSD.003_CommonAccountTypes.xsd"/>
	<xsd:import namespace="http://www.reuters.com/ns/2007/09/01/GCAP/CommonMessageTypes" schemaLocation="EAI.XSD.005_CommonMessageTypes.xsd"/>
	<xsd:complexType name="UserDetails">
		<xsd:sequence>
			<xsd:element name="UUID" type="gcap:UUID" nillable="true"/>
			<xsd:element name="domain" type="gcap:Domain" nillable="true"/>
			<xsd:element name="userID" type="gcap:UserID" nillable="true"/>
			<xsd:element name="title" type="gcap:Title" nillable="true"/>
			<xsd:element name="firstName" type="gcap:FirstName" nillable="true"/>
			<xsd:element name="lastName" type="gcap:LastName" nillable="true"/>
			<xsd:element name="phoneNumber" type="gcap:PhoneNumber" nillable="true"/>
			<xsd:element name="emailAddress" type="gcap:EmailAddress" nillable="true"/>
			<xsd:element name="legalConsentGiven" type="gcap:LegalConsentGiven" nillable="true"/>
			<xsd:element name="legalConsentGivenOn" type="gcap:LegalConsentGivenOn" nillable="true"/>
			<xsd:element name="marketingConsentGiven" type="gcap:MarketingConsentGiven" nillable="true"/>
			<xsd:element name="marketingConsentGivenOn" type="gcap:MarketingConsentGivenOn" nillable="true"/>
			<xsd:element name="jobRole" type="gcap:JobRole" nillable="true"/>
			<xsd:element name="FTLCompleted" type="gcap:_FTLCompleted" nillable="true"/>
			<xsd:element name="FTLCompletedOn" type="gcap:_FTLCompletedOn" nillable="true"/>
			<xsd:element name="localFirstName" type="gcap:LocalFirstName" nillable="true"/>
			<xsd:element name="localLastName" type="gcap:LocalLastName" nillable="true"/>
			<xsd:element name="preferredServiceLanguage" type="gcap:PreferredServiceLanguage" nillable="true"/>
			<xsd:element name="reutersMessagingId" type="gcap:ReutersMessagingId" nillable="true"/>
			<xsd:element name="localDACSID" type="gcap:LocalDACSID" nillable="true"/>
			<xsd:element name="geographicalFocus" type="gcap:GeographicalFocus" nillable="true"/>
			<xsd:element name="lastUpdatedByAAAOn" type="gcap:LastUpdatedByAAAOn" nillable="true"/>
			<xsd:element name="lastUpdatedSiebelOn" type="gcap:LastUpdatedSiebelOn" nillable="true"/>
			<xsd:element name="locationAccountID" type="gcap-cat:AccountID" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="UUID">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem>CDM.v2.CONTACT.UUID</gcap-sa:EquivalentDataItem>
				<gcap-sa:Example>
					<content>1-6AORV1</content>
					<comment>Siebel Rowid</comment>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z,0-9,\-,\+]*"></xsd:pattern>
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Domain">
			<xsd:annotation>
				<xsd:appinfo>
					<gcap-sa:EquivalentDataItem>CDM.v2.CONTACT.DOMAIN</gcap-sa:EquivalentDataItem>
					<gcap-sa:Example>
						<content>SL</content>
						<comment>Domain from which a user was created</comment>
					</gcap-sa:Example>
				</xsd:appinfo>
			</xsd:annotation>
			<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z]*"></xsd:pattern>
				<xsd:maxLength value="2"/>
			</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UserID">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem>CDM.v2.LOGON.USER_ID</gcap-sa:EquivalentDataItem>
				<gcap-sa:Example>
					<content>JSmith</content>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="320"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FirstName">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem>CDM.v2.CONTACT.FIRST NAME</gcap-sa:EquivalentDataItem>
				<gcap-sa:Example>
					<content>John</content>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LastName">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem>CDM.v2.CONTACT.LAST_NAME</gcap-sa:EquivalentDataItem>
				<gcap-sa:Example>
					<content>Smith</content>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalFirstName">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem>CDM.v2.CONTACT.LOCAL FIRST NAME</gcap-sa:EquivalentDataItem>
				<gcap-sa:Example>
					<content/>
					<comment>May contain characters from the local character set</comment>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalLastName">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem>CDM.v2.CONTACT.LOCAL LAST NAME</gcap-sa:EquivalentDataItem>
				<gcap-sa:Example>
					<content/>
					<comment>May contain characters from the local character set</comment>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Title">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem>CDM.v2.CONTACT.TITLE</gcap-sa:EquivalentDataItem>
				<gcap-sa:Example>
					<content>Mr</content>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PhoneNumber">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem>CDM.v2.CONTACT.WORK PHONE NUMBER</gcap-sa:EquivalentDataItem>
				<gcap-sa:Example>
					<content>+44 20 7542 8567 x5432</content>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EmailAddress">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem>CDM.v2.CONTACT.EMAIL_ADDR</gcap-sa:EquivalentDataItem>
				<gcap-sa:Example>
					<content>John.Smith@email.com</content>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="320"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="JobRole">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem>CDM.v2.LOGON.JOB FUNCTION</gcap-sa:EquivalentDataItem>
				<gcap-sa:Example>
					<content>Equity Sales Person</content>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="75"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LegalConsentGiven">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem>CDM.v2.LEGAL_CONSENT_GIVEN_FLAG</gcap-sa:EquivalentDataItem>
				<gcap-sa:Example>
					<content>true</content>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="LegalConsentGivenOn">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem>CDM.v2.LEGAL_CONSENT_GIVEN_TIMESTAMP</gcap-sa:EquivalentDataItem>
				<gcap-sa:Example>
					<content>2007/04/25 01:01:01</content>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="MarketingConsentGiven">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem>CDM.v2.MARKETING_CONSENT_GIVEN_FLAG</gcap-sa:EquivalentDataItem>
				<gcap-sa:Example>
					<content>true</content>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="MarketingConsentGivenOn">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem>CDM.v2.MARKETING_CONSENT_GIVEN_TIMESTAMP</gcap-sa:EquivalentDataItem>
				<gcap-sa:Example>
					<content>2007/04/25 01:01:01</content>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="LastUpdatedByAAAOn">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem>CDM.v2.LAST_UPDATED_BY_AAA_TIMESTAMP</gcap-sa:EquivalentDataItem>
				<gcap-sa:Example>
					<content>2007/04/25 01:01:01</content>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="LastUpdatedSiebelOn">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem>CDM.v2.LAST_UPDATED_BY_SIEBEL_TIMESTAMP</gcap-sa:EquivalentDataItem>
				<gcap-sa:Example>
					<content>2007/04/25 01:01:01</content>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="_FTLCompleted">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem>CDM.v2.CONTACT.FIRST_TIME_LOGIN_COMPLETED_FLAG</gcap-sa:EquivalentDataItem>
				<gcap-sa:Example>
					<content>true</content>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="_FTLCompletedOn">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem>CDM.v2.CONTACT.FIRST_TIME_LOGIN_COMPLETED_TIMESTAMP</gcap-sa:EquivalentDataItem>
				<gcap-sa:Example>
					<content>2007/04/25 01:01:01</content>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="TemporaryURL">
		<xsd:annotation>
			<xsd:appinfo>
				<gcap-sa:EquivalentDataItem>CDM.v2.FIRST_TIME_URL</gcap-sa:EquivalentDataItem>
				<gcap-sa:Example>
					<content/>
					<comment/>
				</gcap-sa:Example>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PreferredServiceLanguage">
			<xsd:annotation>
				<xsd:appinfo>
					<gcap-sa:EquivalentDataItem>CDM.v2.CONTACT.PREFERRED SERVICE LANGUAGE</gcap-sa:EquivalentDataItem>
					<gcap-sa:Example>
						<content/>
						<comment/>
					</gcap-sa:Example>
				</xsd:appinfo>
			</xsd:annotation>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="50"/>
			</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ReutersMessagingId">
				<xsd:annotation>
					<xsd:appinfo>
						<gcap-sa:EquivalentDataItem>CDM.v2.CONTACT.REUTERS MESSAGING ID</gcap-sa:EquivalentDataItem>
						<gcap-sa:Example>
							<content/>
							<comment/>
						</gcap-sa:Example>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LocalDACSID">
					<xsd:annotation>
						<xsd:appinfo>
							<gcap-sa:EquivalentDataItem>CDM.v2.CONTACT.LocalDACSID</gcap-sa:EquivalentDataItem>
							<gcap-sa:Example>
								<content/>
								<comment/>
							</gcap-sa:Example>
						</xsd:appinfo>
					</xsd:annotation>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="32"/>
					</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GeographicalFocus">
					<xsd:annotation>
						<xsd:appinfo>
							<gcap-sa:EquivalentDataItem>CDM.v2.CONTACT.GEOGRAPHICAL FOCUS</gcap-sa:EquivalentDataItem>
							<gcap-sa:Example>
								<content/>
								<comment/>
							</gcap-sa:Example>
						</xsd:appinfo>
					</xsd:annotation>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
