CRM_EAI_code_deploy/code/CRM61AccountPub/TOMAM_AccountManager/TOMAM_AccountManager.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/NS/2007/01/25/GCAP/EAI/TOM/AM/AccountManager"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="TOMAM_AccountManagerProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="TOMAM_AccountManagerProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>