CRM_EAI_code_deploy/code/CRM61OM/TOMOM_UpdateOrderStatus/EAI.SRV.EXT.TOM.042_PropagateOrderLineStatusService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
/*************************************************************************
* Module            EAI.SRV.EXT.TOM.042_PropagateOrderLineStatusService
*                   Technical Order Fulfillment
* Type              Web Services Description Language (WSDL) File 
* Description       Service to recive the order status and pass it to Siebel 
*
* Change History
* Version	Date		Author                      Description Of Change
* ========	========	======================      ===============================
*  0.01        	01/07/08	Sreeja Prasad      Initial Version
*  0.02        	02/07/08	Rob Billington     Flattened Structure for TOM so only single OLI can be updated
*************************************************************************/
-->
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:tns="http://www.reuters.com/ns/2007/09/01/GCAP/external/TOM/OrderTechFul"
xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/external/TOM/OrderTechFul">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" 
		xmlns:xsdLocal="http://www.reuters.com/ns/2007/09/01/GCAP/external/TOM/OrderTechFul" 
		targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/external/TOM/OrderTechFul">
			<xsd:element name="TFOrderLineStatus">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="applicationId" type="xsd:string"/>
					<xsd:element name="transactionId" type="xsd:string"/>
					<xsd:element name="messageId" type="xsd:string"/>
					<xsd:element name="messageHistory" type="xsd:string"/>
					<xsd:element name="tracingId" type="xsd:string" nillable="true"/>
					<xsd:element name="timeStamp" type="xsd:dateTime"/>
					<xsd:element name="instanceId" type="xsd:string" nillable="true"/>
					<xsd:element name="timeToLive" type="xsd:int" nillable="true"/>
					<xsd:element name="payloadVersion" type="xsd:string"/>
					<xsd:element name="CRMOrderId" type="xsd:string"/>
					<xsd:element name="orderActualInstallationDate" type="xsd:date"/>
					<xsd:element name="orderPlannedInstallationDate" type="xsd:date"/>
					<xsd:element name="orderTechnicalFulfilmentStatus" type="xsd:string"/>
					<xsd:element name="orderTechnicalFulfilmentStatusReason" type="xsd:string"/>
					<xsd:element name="firstName" type="xsd:string"/>
					<xsd:element name="lastname" type="xsd:string"/>
					<xsd:element name="email" type="xsd:string"/>
					<xsd:element name="phone" type="xsd:string"/>
					<xsd:element name="technicalOrderNumber" type="xsd:string"/>
					<xsd:element name="CRMOLIId" type="xsd:string" />
					<xsd:element name="OLIplannedInstallationDate" type="xsd:date"/>
					<xsd:element name="OLIactualInstallationDate" type="xsd:date" />
					<xsd:element name="OLItechnicalFulfilmentStatus" type="xsd:string" />
					<xsd:element name="ExpectedTechnicallyReadyToMigrateDate" type="xsd:date" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			</xsd:element>
			<xsd:element name="orderStatusPropagateResponse">
			<xsd:complexType>
                            <xsd:sequence>
				<xsd:element name="applicationId" type="xsd:string"/>
					<xsd:element name="transactionId" type="xsd:string"/>
					<xsd:element name="messageId" type="xsd:string"/>
					<xsd:element name="messageHistory" type="xsd:string"/>
					<xsd:element name="tracingId" type="xsd:string" nillable="true"/>
					<xsd:element name="timeStamp" type="xsd:dateTime"/>
					<xsd:element name="instanceId" type="xsd:string" nillable="true"/>
					<xsd:element name="timeToLive" type="xsd:int" nillable="true"/>
					<xsd:element name="payloadVersion" type="xsd:string"/>
					<xsd:element name="response" type="xsd:string"/>
					<xsd:element name="responseCode" type="xsd:string"/>
					<xsd:element name="responseMessage" type="xsd:string"/>
	                     </xsd:sequence>
                        </xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="propagateOrderStatusIn">
		<wsdl:part name="orderStatus" element="tns:TFOrderLineStatus"/>
	</wsdl:message>
	<wsdl:message name="propagateOrderStatusOut">
		<wsdl:part name="statusSubmissionResponse" element="tns:orderStatusPropagateResponse"/>
	</wsdl:message>
	<wsdl:portType name="PropagateOrderStatusSoap">
		<wsdl:operation name="propagateOrderStatus">
			<documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This method propagates a vetting status</documentation>
			<wsdl:input message="tns:propagateOrderStatusIn"/>
			<wsdl:output message="tns:propagateOrderStatusOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PropagateOrderStatusSoap" type="tns:PropagateOrderStatusSoap">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="propagateOrderStatus">
			<soap:operation soapAction="propagateOrderStatus" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PropagateStatusUpdate">
		<wsdl:port name="PropagateOrderStatusSoap" binding="tns:PropagateOrderStatusSoap">
			<soap:address location="No Target Address"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
