CRM_EAI_code_deploy/code/CRM61OM/TransformToCSUserRequest/public_html/WEB-INF/wsdl/EAI.MSG.CS.UOM.272_UserOrderRequest.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gcap-sa="http://www.reuters.com/ns/2007/09/01/GCAP/SchemaAnnotations"
     xmlns:xsdLocal="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/CS/UOM/UserOrderManagement"
     targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/CS/UOM/UserOrderManagement"
     elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.01">
     <xsd:include schemaLocation="EAI.MSG.CS.UOM_CommonTypes.xsd"/>
    <xsd:element name="CSUserOrder" type="xsdLocal:CSUserOrderRequest"/>
    <xsd:complexType name="CSUserOrderRequest">
        <xsd:sequence>
            <xsd:element name="eaiHeader" type="xsdLocal:_CSEaiHeader"/>
            <xsd:element name="messageHeader" type="xsdLocal:CSMessageHeader"/>
            <xsd:element name="userOrderHeader" type="xsdLocal:CSUserOrderHeader"/>
            <xsd:element name="userOrderLineItem" type="xsdLocal:CSUOLI" maxOccurs="100"/>
        </xsd:sequence>
    </xsd:complexType>   
    <xsd:complexType name="CSMessageHeader">
        <xsd:sequence>
            <xsd:element name="logicalCountry" type="xsdLocal:CSCountryCode"/>
            <xsd:element name="messageId" type="xsdLocal:string30"/>
            <xsd:element name="transactionId" type="xsdLocal:string30"/>
            <xsd:element name="messageHistory" type="xsdLocal:string100"/>
            <xsd:element name="tracingId" type="xsdLocal:string50"/>
            <xsd:element name="actionCode" type="xsdLocal:string4"/>
            <xsd:element name="version" type="xsdLocal:string1"/>
            <xsd:element name="timeStamp" type="xsd:dateTime"/>
            <xsd:element name="userId" type="xsdLocal:string50"/>
            <xsd:element name="objectSystem" type="xsdLocal:string8"/>
            <xsd:element name="sourceSystem" type="xsdLocal:CSSourceSystem"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CSUserOrderHeader">
        <xsd:sequence>
            <xsd:element name="transactionId" type="xsdLocal:CSTransactionId"/>
            <xsd:element name="sourceSystem" type="xsdLocal:CSSourceSystem"/>
            <xsd:element name="subscriber" type="xsdLocal:CSSubscriber"/>
            <xsd:element name="subAccount" type="xsdLocal:CSSubAccount"/>
            <xsd:element name="effectiveDate" type="xsdLocal:CSEffectiveDate"/>
            <xsd:element name="siebelOrderNumber" type="xsdLocal:CSSiebelOrderNum"/>
            <xsd:element name="actionCode" type="xsdLocal:CSActionCode"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CSUOLI">
        <xsd:sequence>
            <xsd:element name="uniqueUserLineId" type="xsdLocal:CSUniqueUserLineId"/>
            <xsd:element name="athenSubId" type="xsdLocal:CSAthenSubId"/>
            <xsd:element name="firstName" type="xsdLocal:CSFirstName"/>
            <xsd:element name="lastName" type="xsdLocal:CSLastName"/>
            <xsd:element name="TSAID" type="xsdLocal:CSTSAID"/>
            <xsd:element name="emailId" type="xsdLocal:CSEmailId"/>
            <xsd:element name="AKR" type="xsdLocal:CSAKR"/>
            <xsd:element name="PLI" type="xsdLocal:CSPLI"/>
            <xsd:element name="installRemoveInd" type="xsdLocal:CSInstallRemoveInd"/>
            <xsd:element name="itemNumber" type="xsdLocal:CSItemNumber"/>
            <xsd:element name="hardStopFlag" type="xsdLocal:CSHardStopFlag"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="CSCountryCode">
        <xsd:annotation>
            <xsd:appinfo>
                <gcap-sa:EquivalentDataItem/>
                <gcap-sa:Example>
                    <content>FR</content>
                    <comment>Country code for France</comment>
                </gcap-sa:Example>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CSTransactionId">
        <xsd:annotation>
            <xsd:appinfo>
                <gcap-sa:EquivalentDataItem/>
                <gcap-sa:Example>
                    <content>TransactionId</content>
                    <comment>Transaction Id</comment>
                </gcap-sa:Example>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CSSourceSystem">
        <xsd:annotation>
            <xsd:appinfo>
                <gcap-sa:EquivalentDataItem/>
                <gcap-sa:Example>
                    <content>A</content>
                    <comment>Athena</comment>
                </gcap-sa:Example>
                <gcap-sa:Example>
                    <content>S</content>
                    <comment>Siebel</comment>
                </gcap-sa:Example>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="A"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CSSubscriber">
        <xsd:annotation>
            <xsd:appinfo>
                <gcap-sa:EquivalentDataItem/>
                <gcap-sa:Example>
                    <content>UK41237</content>
                    <comment>Subscriber number</comment>
                </gcap-sa:Example>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="7"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CSSubAccount">
        <xsd:annotation>
            <xsd:appinfo>
                <gcap-sa:EquivalentDataItem/>
                <gcap-sa:Example>
                    <content>001</content>
                    <comment>Sub Account number</comment>
                </gcap-sa:Example>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:union memberTypes="xsd:int">
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value=""/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>
    <xsd:simpleType name="CSEffectiveDate">
        <xsd:annotation>
            <xsd:appinfo>
                <gcap-sa:EquivalentDataItem/>
                <gcap-sa:Example>
                    <content>2007/04/25</content>
                    <comment>Install date</comment>
                </gcap-sa:Example>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:union memberTypes="xsd:date">
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value=""/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>
    <xsd:simpleType name="CSSiebelOrderNum">
        <xsd:annotation>
            <xsd:appinfo>
                <gcap-sa:EquivalentDataItem/>
                <gcap-sa:Example>
                    <content/>
                    <comment/>
                </gcap-sa:Example>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CSActionCode">
        <xsd:annotation>
            <xsd:appinfo>
                <gcap-sa:EquivalentDataItem/>
                <gcap-sa:Example/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CSUniqueUserLineId">
        <xsd:annotation>
            <xsd:appinfo>
                <gcap-sa:EquivalentDataItem/>
                <gcap-sa:Example/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CSAthenSubId">
        <xsd:annotation>
            <xsd:appinfo>
                <gcap-sa:EquivalentDataItem/>
                <gcap-sa:Example>
                    <content/>
                    <comment>Athena Sub Id</comment>
                </gcap-sa:Example>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CSFirstName">
        <xsd:annotation>
            <xsd:appinfo>
                <gcap-sa:EquivalentDataItem/>
                <gcap-sa:Example>
                    <content/>
                    <comment>Sales specialist person id</comment>
                </gcap-sa:Example>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CSLastName">
        <xsd:annotation>
            <xsd:appinfo>
                <gcap-sa:EquivalentDataItem/>
                <gcap-sa:Example>
                    <content/>
                    <comment>Sales Account Manager Person Id</comment>
                </gcap-sa:Example>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CSTSAID">
        <xsd:annotation>
            <xsd:appinfo>
                <gcap-sa:EquivalentDataItem/>
                <gcap-sa:Example>
                    <content/>
                    <comment>Sales Account Manager Person Id</comment>
                </gcap-sa:Example>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CSEmailId">
        <xsd:annotation>
            <xsd:appinfo>
                <gcap-sa:EquivalentDataItem/>
                <gcap-sa:Example>
                    <content/>
                    <comment>Sales Account Manager Person Id</comment>
                </gcap-sa:Example>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CSAKR">
        <xsd:annotation>
            <xsd:appinfo>
                <gcap-sa:EquivalentDataItem/>
                <gcap-sa:Example>
                    <content>101</content>
                    <comment>Admin keystation number</comment>
                </gcap-sa:Example>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:union memberTypes="xsd:int">
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value=""/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>
    <xsd:simpleType name="CSPLI">
        <xsd:annotation>
            <xsd:appinfo>
                <gcap-sa:EquivalentDataItem/>
                <gcap-sa:Example>
                    <content>XK3INTD1</content>
                    <comment>Price list item</comment>
                </gcap-sa:Example>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CSInstallRemoveInd">
        <xsd:annotation>
            <xsd:appinfo>
                <gcap-sa:EquivalentDataItem/>
                <gcap-sa:Example>
                    <content/>
                    <comment/>
                </gcap-sa:Example>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CSItemNumber">
        <xsd:annotation>
            <xsd:appinfo>
                <gcap-sa:EquivalentDataItem/>
                <gcap-sa:Example>
                    <content>2678</content>
                    <comment>Item number</comment>
                </gcap-sa:Example>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:union memberTypes="xsd:int">
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value=""/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>
    <xsd:simpleType name="CSHardStopFlag">
        <xsd:annotation>
            <xsd:appinfo>
                <gcap-sa:EquivalentDataItem/>
                <gcap-sa:Example>
                    <content>Blank</content>
                    <comment>Striaght through billing</comment>
                </gcap-sa:Example>
                <gcap-sa:Example>
                    <content>E</content>
                    <comment>E- Exchange</comment>
                </gcap-sa:Example>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    
</xsd:schema>
