CRM_EAI_code_deploy/code/CRM61OM/TF_ManageOrderLineStatus/TF_ManageOrderLineStatus.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/OM/TF_ManageOrderLineStatus"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="TF_ManageOrderLineStatusProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="TF_ManageOrderLineStatusProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>