CRM_EAI_code_deploy/code/CRM61PricePublish/CCRMPM_PriceRequestValidator/CCRMPM_PriceRequestValidator.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/NS/2007/01/25/GCAP/CCRM/PM/CCRMPM_PriceRequestValidator"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="CCRMPM_PriceRequestValidatorProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="CCRMPM_PriceRequestValidatorProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>