CRM_EAI_code_deploy/code/CRM61OM/ELMOM_Invoker/ELMOM_Invoker.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/ELMOM_Invoker"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="ELMOM_InvokerProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="ELMOM_InvokerProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>