CRM_EAI_code_deploy/code/CRM61AccountPub/SFDCAM_AccountEventManager/SFDCAM_AccountEventManager.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/SFDC/AccountPublish/SFDCAM_AccountEventManager"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="SFDCAM_AccountEventManagerProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="SFDCAM_AccountEventManagerProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>