CRM_EAI_code_deploy/code/CRMActivityMgmt/TTMG_UpdateTicketService/EAI.SRV.EXT.MST.057_PropagateMigrationStatusService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.reuters.com/ns/2007/09/01/GCAP/MST/XtraMigration" xmlns:tracc="http://www.reuters.com/ns/2007/09/01/GCAP/MST/XtraMigration" xmlns:rpacc="http://www.reuters.com/ns/2007/09/01/GCAP/MST/XtraMigration" targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/MST/XtraMigration">
	<wsdl:types>
		<xsd:schema xmlns:xsdLocal="http://www.reuters.com/ns/2007/09/01/GCAP/MST/XtraMigration" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/MST/XtraMigration" elementFormDefault="qualified">
			<xsd:complexType name="MigrationStatus">
				<xsd:sequence>
					<xsd:element name="eaiHeader" minOccurs="0" type="xsdLocal:ExtEaiHeader" nillable="true"/>
					<xsd:element name="status" minOccurs="0" type="xsd:string" nillable="true"/>
					<xsd:element name="uuid" minOccurs="0" type="xsd:string" nillable="true"/>
					<xsd:element name="productName" minOccurs="0" type="xsd:string" nillable="true"/>
					<xsd:element name="crmID" minOccurs="0" type="xsd:string" nillable="true"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="migrationStatus" type="xsdLocal:MigrationStatus"/>
			<xsd:complexType name="ExtEaiHeader">
				<xsd:sequence>
					<xsd:element name="applicationId" type="xsdLocal:string10"/>
					<xsd:element name="transactionId" type="xsdLocal:string30"/>
					<xsd:element name="messageId" type="xsdLocal:string30"/>
					<xsd:element name="messageHistory" type="xsdLocal:string100"/>
					<xsd:element name="tracingId" type="xsdLocal:string50" nillable="true"/>
					<xsd:element name="timeStamp" type="xsd:dateTime"/>
					<xsd:element name="instanceId" type="xsdLocal:string40" nillable="true"/>
					<xsd:element name="timeToLive" type="xsd:int" nillable="true"/>
					<xsd:element name="payloadVersion" type="xsdLocal:string3"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="string30">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="30"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string50">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string10">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="10"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string40">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="40"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string3">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="3"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string100">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="100"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="propagateStatus">
		<wsdl:part name="parameter" element="tns:migrationStatus"/>
	</wsdl:message>
	<wsdl:portType name="propagateMigrationStatus">
		<wsdl:operation name="propagateStatus">
			<wsdl:input message="tns:propagateStatus"/>
                        <wsdl:output message="tns:propagateStatus"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="propagateStatusSOAP"
		type="tns:propagateMigrationStatus">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="propagateStatus">
			<soap:operation soapAction="propagateStatus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="propagateStatusService">
		<wsdl:port binding="tns:propagateStatusSOAP"
			name="propagateStatus">
			<soap:address location="http://localhost:9080" />
		</wsdl:port>
	</wsdl:service>
        </wsdl:definitions>
