CRM_EAI_code_deploy/code/CRM61ContactPub/TOMCM_ContactManager/TOMCM_ContactManager.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/TOM/CM/TOMCM_ContactManager"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="TOMCM_ContactManagerProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="TOMCM_ContactManagerProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>