CRM_EAI_code_deploy/code/CRM61ContactPub/SAPCM_Invoker/EAI.SRV.CM.SAP.73_UpdateEmployeeContact.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SI_Update_Contacts_OB_Async"
                  targetNamespace="http://trm.com:I001:CustomerMaster:AccountMessage"
                  xmlns:idoc="urn:sap-com:document:sap:idoc:messages"
                  xmlns:p1="http://trm.com:I001:CustomerMaster:AccountMessage"
                  xmlns=""
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <wsp:Policy wsu:Id="OP_OP_Update_Contacts_Async"/>
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="ZSDCONT">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="IDOC" type="ZSDCONT.ZSDCONT"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ZSDCONT.Z1CMCON">
        <xsd:annotation>
          <xsd:documentation>Contact Information</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="STREET" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Street</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="60"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STR_SUPPL1" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Street 2</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STR_SUPPL2" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Street 3</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STR_SUPPL3" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Street 4</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="POSTL_COD1" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>City postal code</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CITY" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>City</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="COUNTRY" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Country Key</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="REGION" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Region (State, Province, County)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="TELEPHONE" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Telephone no.: dialling code+number</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="FAX_NO" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Complete number: dialling code+number+extension</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="E_MAIL" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>E-Mail Address</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="241"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1"
                       use="required"/>
      </xsd:complexType>
      <xsd:complexType name="EDI_DC40.ZSDCONT.ZSDCONT">
        <xsd:sequence>
          <xsd:element name="TABNAM" type="xsd:string" fixed="EDI_DC40">
            <xsd:annotation>
              <xsd:documentation>TABNAM</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="MANDT" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>MANDT</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DOCNUM" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>DOCNUM</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="16"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DOCREL" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>DOCREL</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STATUS" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>STATUS</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DIRECT">
            <xsd:annotation>
              <xsd:documentation>DIRECT</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="1">
                  <xsd:annotation>
                    <xsd:documentation>Outbound</xsd:documentation>
                  </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="2">
                  <xsd:annotation>
                    <xsd:documentation>Inbound</xsd:documentation>
                  </xsd:annotation>
                </xsd:enumeration>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="OUTMOD" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>OUTMOD</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="EXPRSS" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>EXPRSS</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="TEST" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>TEST</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="IDOCTYP" type="xsd:string" fixed="ZSDCONT">
            <xsd:annotation>
              <xsd:documentation>IDOCTYP</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CIMTYP" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>CIMTYP</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MESTYP" type="xsd:string" fixed="ZSDCONT">
            <xsd:annotation>
              <xsd:documentation>MESTYP</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="MESCOD" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>MESCOD</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MESFCT" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>MESFCT</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STD" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>STD</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STDVRS" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>STDVRS</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STDMES" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>STDMES</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPOR">
            <xsd:annotation>
              <xsd:documentation>SNDPOR</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPRT">
            <xsd:annotation>
              <xsd:documentation>SNDPRT</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPFC" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>SNDPFC</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPRN">
            <xsd:annotation>
              <xsd:documentation>SNDPRN</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDSAD" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>SNDSAD</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="21"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDLAD" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>SNDLAD</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="70"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPOR">
            <xsd:annotation>
              <xsd:documentation>RCVPOR</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPRT" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>RCVPRT</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPFC" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>RCVPFC</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPRN">
            <xsd:annotation>
              <xsd:documentation>RCVPRN</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVSAD" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>RCVSAD</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="21"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVLAD" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>RCVLAD</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="70"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CREDAT" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>CREDAT</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CRETIM" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>CRETIM</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="REFINT" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>REFINT</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="14"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="REFGRP" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>REFGRP</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="14"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="REFMES" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>REFMES</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="14"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ARCKEY" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>ARCKEY</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="70"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SERIAL" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>SERIAL</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1"
                       use="required"/>
      </xsd:complexType>
      <xsd:complexType name="ZSDCONT.ZSDCONT">
        <xsd:annotation>
          <xsd:documentation>Customer Contact</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="EDI_DC40" type="EDI_DC40.ZSDCONT.ZSDCONT"/>
          <xsd:element name="E1KNVKM" type="ZSDCONT.E1KNVKM"/>
        </xsd:sequence>
        <xsd:attribute name="BEGIN" type="xsd:string" fixed="1" use="required"/>
      </xsd:complexType>
      <xsd:complexType name="ZSDCONT.E1KNVKM">
        <xsd:annotation>
          <xsd:documentation>Master customer master contact person (KNVK)</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="MSGFN" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Function</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PARNR" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Number of contact person</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="NAMEV" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>First name</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="35"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="NAME1" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Name 1</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="35"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ABTPA" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's department at customer</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ABTNR" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person department</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="UEPAR" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Higher-level partner</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="TELF1" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>First telephone number</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="16"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ANRED" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Form of address for contact person (Mr,
                                 Mrs...etc)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PAFKT" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person function</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PARVO" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Partner's Authority</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PAVIP" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>VIP Partner</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PARGE" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Partner's gender</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PARLA" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Partner language</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="GBDAT" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Date of Birth</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="VRTNR" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Representative number</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BRYTH" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Call frequency</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="AKVER" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Buying habits</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="NMAIL" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Advertising material indicator</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PARAU" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Notes about contact person</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PARH1" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person: Attribute 1</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PARH2" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person: Attribute 2</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PARH3" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person: Attribute 3</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PARH4" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person: Attribute 4</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PARH5" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person: Attribute 5</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MOAB1" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's visiting hours: Monday morning
                                 from ...</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MOBI1" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's visiting hours: Monday morning
                                 until ...</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MOAB2" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's visiting hours: Monday
                                 afternoon from ...</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MOBI2" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's visiting hours: Monday
                                 afternoon until ...</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DIAB1" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's visiting hours: Tuesday
                                 morning from...</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DIBI1" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's visiting hours: Tuesday
                                 morning until ...</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DIAB2" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's visiting hours: Tuesday
                                 afternoon from..</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DIBI2" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's visiting hours: Tuesday
                                 afternoon until ...</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MIAB1" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's visiting hours: Wednesday
                                 morning from...</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MIBI1" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's visiting hours: Wednesday
                                 morning until ...</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MIAB2" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's visiting hours: Wednesday
                                 afternoon from ..</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MIBI2" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's visiting hours: Wednesday
                                 afternoon until..</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DOAB1" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's visiting hours: Thursday
                                 morning from ....</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DOBI1" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's visiting hours: Thursday
                                 morning until ....</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DOAB2" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's visiting hours: Thursday
                                 afternoon from...</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DOBI2" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's visiting hours: Thursday
                                 afternoon until ..</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="FRAB1" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's visiting hours: Friday morning
                                 from ...</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="FRBI1" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's visiting hours: Friday morning
                                 until ...</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="FRAB2" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's visiting hours: Friday
                                 afternoon from ...</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="FRBI2" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's visiting hours: Friday
                                 afternoon until ...</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SAAB1" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's visiting hours: Saturday
                                 morning from ...</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SABI1" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's visiting hours: Saturday
                                 morning until ...</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SAAB2" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's visiting hours: Saturday
                                 afternoon from ...</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SABI2" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's visiting hours: Saturday
                                 afternoon until ..</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SOAB1" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's visiting hours: Sunday morning
                                 from ...</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SOBI1" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's visiting hours: Sunday morning
                                 until ...</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SOAB2" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's visiting hours: Sunday
                                 afternoon from ...</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SOBI2" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person's visiting hours: Sunday
                                 afternoon until ...</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PAKN1" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person: Attribute 6</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PAKN2" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person: Attribute 7</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PAKN3" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person: Attribute 8</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PAKN4" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person: Attribute 9</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PAKN5" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Contact person: Attribute 10</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SORTL" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Sort field</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="FAMST" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Marital Status Key</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SPNAM" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Nickname</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="TITEL_AP" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Title of contact person (description of
                                 function)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="35"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PARLA_ISO" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Language according to ISO 639</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="Z1CMCON" type="ZSDCONT.Z1CMCON" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1"
                       use="required"/>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="idoc.ZSDCONT.ZSDCONT">
    <wsdl:documentation/>
    <wsdl:part name="idoc" element="ZSDCONT"/>
  </wsdl:message>
  <wsdl:portType name="SI_Update_Contacts_OB_Async">
    <wsdl:documentation/>
    <wsdl:operation name="OP_Update_Contacts_Async">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_OP_Update_Contacts_Async"/>
      </wsp:Policy>
      <wsdl:input message="p1:idoc.ZSDCONT.ZSDCONT"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_Update_Contacts_OB_AsyncBinding"
                type="p1:SI_Update_Contacts_OB_Async">
    <soap:binding style="document"
                  transport="http://schemas.xmlsoap.org/soap/http"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    <wsdl:operation name="OP_Update_Contacts_Async">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
                      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input>
        <soap:body use="literal"
                   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_Update_Contacts_OB_AsyncService">
    <wsdl:port name="SI_Update_Contacts_OB_AsyncPort"
               binding="p1:SI_Update_Contacts_OB_AsyncBinding">
      <soap:address location="${sap.protocol}://${sap.host}${Sap.Contacts.Employee.Contacts.suffixurl}"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>