CRM_EAI_code_deploy/code/CRM61ContactPub/SAPCM_Invoker/SAPCM_Invoker.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/01/25/GCAP/EAI/SAP/SAPCM_Invoker"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="SAPCM_InvokerProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="SAPCM_InvokerProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>