CRM_EAI_code_deploy/code/CRM61ContactPub/SAPCMExt_Invoker/SAPCMExt_Invoker.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/SAPCMExt_Invoker"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="SAPCMExt_InvokerProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="SAPCMExt_InvokerProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>