CRM_EAI_code_deploy/code/CRM61ContactPub/SAPCMExt_Invoker/SI_Contacts_OB_Async.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SI_Contacts_OB_Async" targetNamespace="http://trm.com:I065:ARCash:ContactManagement_Send" xmlns:idoc="urn:sap-com:document:sap:idoc:messages" xmlns:p1="http://trm.com:I065:ARCash:ContactManagement_Send" xmlns="" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <wsp:Policy wsu:Id="OP_OP_Contacts_OB_Async"/>
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="ZSDECONTACT">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="IDOC" type="ZSDECONTACT.ZSDECONTACT"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="EDI_DC40.ZSDECONTACT.ZSDECONTACT">
        <xsd:sequence>
          <xsd:element name="TABNAM" type="xsd:string" fixed="EDI_DC40">
            <xsd:annotation>
              <xsd:documentation>TABNAM</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="MANDT" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>MANDT</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DOCNUM" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>DOCNUM</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="16"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DOCREL" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>DOCREL</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STATUS" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>STATUS</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DIRECT">
            <xsd:annotation>
              <xsd:documentation>DIRECT</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="1">
                  <xsd:annotation>
                    <xsd:documentation>Outbound</xsd:documentation>
                  </xsd:annotation>
                </xsd:enumeration>
                <xsd:enumeration value="2">
                  <xsd:annotation>
                    <xsd:documentation>Inbound</xsd:documentation>
                  </xsd:annotation>
                </xsd:enumeration>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="OUTMOD" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>OUTMOD</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="EXPRSS" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>EXPRSS</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="TEST" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>TEST</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="IDOCTYP" type="xsd:string" fixed="ZSDECONTACT">
            <xsd:annotation>
              <xsd:documentation>IDOCTYP</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CIMTYP" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>CIMTYP</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MESTYP" type="xsd:string" fixed="ZSDECONTACT">
            <xsd:annotation>
              <xsd:documentation>MESTYP</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="MESCOD" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>MESCOD</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MESFCT" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>MESFCT</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STD" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>STD</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STDVRS" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>STDVRS</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="STDMES" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>STDMES</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPOR">
            <xsd:annotation>
              <xsd:documentation>SNDPOR</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPRT">
            <xsd:annotation>
              <xsd:documentation>SNDPRT</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPFC" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>SNDPFC</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPRN">
            <xsd:annotation>
              <xsd:documentation>SNDPRN</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDSAD" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>SNDSAD</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="21"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDLAD" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>SNDLAD</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="70"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPOR">
            <xsd:annotation>
              <xsd:documentation>RCVPOR</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPRT" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>RCVPRT</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPFC" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>RCVPFC</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPRN">
            <xsd:annotation>
              <xsd:documentation>RCVPRN</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVSAD" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>RCVSAD</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="21"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVLAD" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>RCVLAD</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="70"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CREDAT" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>CREDAT</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="CRETIM" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>CRETIM</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="REFINT" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>REFINT</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="14"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="REFGRP" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>REFGRP</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="14"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="REFMES" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>REFMES</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="14"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ARCKEY" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>ARCKEY</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="70"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SERIAL" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>SERIAL</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
      </xsd:complexType>
      <xsd:complexType name="ZSDECONTACT.ZSDECONTACT">
        <xsd:annotation>
          <xsd:documentation>I065 Siebel to SAP Contact Management</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="EDI_DC40" type="EDI_DC40.ZSDECONTACT.ZSDECONTACT"/>
          <xsd:element name="Z1SDECONTACT" type="ZSDECONTACT.Z1SDECONTACT"/>
        </xsd:sequence>
        <xsd:attribute name="BEGIN" type="xsd:string" fixed="1" use="required"/>
      </xsd:complexType>
      <xsd:complexType name="ZSDECONTACT.Z1SDECONTACT">
        <xsd:annotation>
          <xsd:documentation>Contact Details Header segment</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="ACTION_CODE" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Char 20</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="ROW_ID" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Character field of length 40</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="TITLE" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Char 15</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="15"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="LAST_NAME" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Comment</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="FIRST_NAME" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Comment</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="EMAIL" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Character 100</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="100"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="WORK_PHONE" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Character field of length 40</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MOBILE_PHONE" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Character field of length 40</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="40"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="TRACE_ID" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Text field of length 260</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="260"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
	  		<xsd:element name="ZZ_FIRST_NAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Character field of length 40</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ZZ_LAST_NAME" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Character field of length 40</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ZZ_TITLE" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>30 Characters</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="30"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
          <xsd:element name="Z1SDECONTACT_ITEM" type="ZSDECONTACT.Z1SDECONTACT_ITEM" maxOccurs="99999"/>
        </xsd:sequence>
        <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
      </xsd:complexType>
      <xsd:complexType name="ZSDECONTACT.Z1SDECONTACT_ITEM">
        <xsd:annotation>
          <xsd:documentation>Contact info item details</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="ACCOUNT_NUMBER" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Char 20</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="FUNCTION_NAME" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>30 Characters</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="idoc.ZSDECONTACT.ZSDECONTACT">
    <wsdl:documentation/>
    <wsdl:part name="idoc" element="ZSDECONTACT"/>
  </wsdl:message>
  <wsdl:portType name="SI_Contacts_OB_Async">
    <wsdl:documentation/>
    <wsdl:operation name="OP_Contacts_OB_Async">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_OP_Contacts_OB_Async"/>
      </wsp:Policy>
      <wsdl:input message="p1:idoc.ZSDECONTACT.ZSDECONTACT"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_Contacts_OB_AsyncBinding" type="p1:SI_Contacts_OB_Async">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    <wsdl:operation name="OP_Contacts_OB_Async">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_Contacts_OB_AsyncService">
    <wsdl:port name="SI_Contacts_OB_AsyncPort" binding="p1:SI_Contacts_OB_AsyncBinding">
      <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="${sap.protocol}://${sap.host}${Sap.Contacts.Contacts.external.suffixurl}"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>