CRM_EAI_code_deploy/code/CRM6UserManagement/CPFGUM_Invoker/CPFGUM_Invoker.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/external/CEP/UserManagementServices"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="CPFGUM_InvokerProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="CPFGUM_InvokerProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>