CRM_EAI_code_deploy/code/CRM61ContactPub/CSCM_ContactManager/CSCM_ContactManager.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/CSCM_ContactManager"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="CSCM_ContactManagerProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="CSCM_ContactManagerProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>