CRM_EAI_code_deploy/code/CRMActivityMgmt/TTMG_Invoker/TTMG_Invoker.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/TTMG/TTMG_Invoker"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="TTMG_InvokerProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="TTMG_InvokerProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>