CRM_EAI_code_deploy/code/CRM61OM/CCRMOM_RouteToDispatcher/CCRMOM_RouteToDispatcher.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/01/25/GCAP/EAI/CCRM/OM"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="CCRMOM_RouteToDispatcherProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="CCRMOM_RouteToDispatcherProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>