CRM_EAI_code_deploy/code/CRM61PricePublish/CCRMPM_PropagatePriceUpdatesToCRM/CCRMPM_PropagatePriceUpdatesToCRM.xsd

<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://www.reuters.com/ns/2007/09/01/GCAP/EAI/CCRM/PM/PriceUpdate/CCRMPM_PropagatePriceUpdatesToCRM"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="CCRMPM_PropagatePriceUpdatesToCRMProcessRequest">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="CCRMPM_PropagatePriceUpdatesToCRMProcessResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>